{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block styles %}
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" >
  <link href="/static/css/typeahead.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include "nav.html" %}
{% endblock %}

{% block content %}

  {% include "security/_messages.html" %}

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-4 bg-light p-4">
        <h1>{{ _fsdomain('Login') }}</h1>
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          {{ render_field_with_errors(login_user_form.email, class="form-control") }}
          {{ render_field_with_errors(login_user_form.password, class="form-control") }}
          {#{ render_field_with_errors(login_user_form.remember) }#}
          {{ render_field_errors(login_user_form.csrf_token) }}
          {# { render_field(login_user_form.submit) } #}
          <p><input id="submit" class="btn btn-primary" name="submit" type="submit" value="Login"></p>
        </form>
        {% if config['DEBUG'] %}
        <p><strong><a onclick="demo_login()">Demo user : test@test.com // password</a></strong></p>
        <script>
            function demo_login() {
                $('input[name=email]').val('test@test.com');
                $('input[name=password]').val('password');
            }
        </script>
        {% endif %}
      </div>
    </div>
  </div>
  {% include "security/_menu.html" %}
{% endblock %}

{% block scripts %}
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/handlebars.min-v4.7.7.js"></script>
  <script src="/static/js/fontawesome.all.min.js"></script>
  <script src="/static/js/typeahead.bundle.min.js"></script>
{% endblock %}
