html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6;
}

.item {
    margin-bottom: 1rem;
}

.item .details {
    margin-left: 1rem;
    padding-left: 0.5rem;
    font-size: smaller;
    white-space: pre-line;
}

.total {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.total p {
    margin: 0.5rem 0;
}

.invoice-notes {
    margin: 0.5rem 0;
    white-space: pre-line;
}

.address {
    white-space: pre-line;
}

#buttons a, #buttons button {
    margin: 15px 10px;
    width: 25%;
}

@media print {
    #buttons {
        display: none;
    }
}
