.home-btn {
    font-size: large;
    line-height: 2.75;
    max-width: 100%;
}

.thank-you-btn {
    padding: 15px 25px;
    font-size: large;
}

input[type="checkbox"].is-valid + span {
    color: green;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.btn-light-warning {
  color: #000;
  background-color: #ffeaa9;
  border-color: #ffc107;
}
