.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    margin-top: 12px;
    padding: 8px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.input-group > .twitter-typeahead {
   flex: 1 1 auto;
   width: auto;
}

.tt-suggestion {
    padding: 5px;
}

.tt-suggestion:hover, .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    background-color: #C9E3FF;
}

.tt-suggestion p {
    margin: 0;
}

.tt-footer {
    background: black;
}


/* Typeahead */
.tt-menu {
    width: 980px;
}

.typeahead-pull-left-1 .tt-menu {
    left: -150px !important;
}

.typeahead-pull-left-2 .tt-menu {
    left: -180px !important;
}


.typeahead-pull-left-3 .tt-menu {
    left: -220px !important;
}

.tt-dataset {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tt-dataset .tt-suggestion {
    flex-basis: 23%;
    border: 1px solid #e9ecef;
    padding: 12px;
    border-radius: 10px;
    margin: 5px;
}

.tt-dataset .tt-suggestion a {
    color: black;
    text-decoration: none;
}

.tt-dataset-clients .tt-suggestion {
    padding: 0;
}

.tt-dataset-clients .tt-suggestion a {
    display: block;
    padding: 12px;
}
