{% extends "admin/base.html" %}

{% block title %} Customize Quick-Find Menu {% endblock %}

{% block head %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/fontawesome.all.min.css" rel="stylesheet">
<script src="/static/js/bootstrap.bundle.min.js"></script>

<!-- https://github.com/furf/jquery-ui-touch-punch -->
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>

{% endblock head %}

{% block body %}
<div class="p3 row justify-content-center">

    <div class="col-12 container">
        <h1 class="mb-5">Customize Quick-Find Menu Buttons</h1>
        <div class="row mb-5">
            <div class="col-12">
                <!-- <label for="name">Search Category:</label> -->
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-search"></i> &nbsp; Search </span>
                    <input id="search" name="search" type="text" class="form-control" value="" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <h2>Subcategories</h2>
                <ol id="categoryList" class="list-group list-group-flush status-list">
                    {% for item in items %}
                    <li class="list-group-item .list-group-item-action">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <h4 class="subcategory">{{item.subcategory}}</h4>
                                <em class="text-secondary category">{{item.category}}</em>
                            </div>

                            <div class="col mt-2">
                                <button class="btn btn-primary float-right btn-block select-button"
                                    data-item='{{item | tojson | forceescape }}'>
                                    <i class="fas fa-plus-square"></i> Create
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>

            <div class="col">
                <h2>Buttons</h2>
                <p id="no-button" class="text-secondary {{ 'd-none' if buttons.count() else '' }}">No buttons have been created</p>

                <ol id="buttonList" class="list-group list-group-flush status-list">
                    {% for button in buttons %}
                    <li class="list-group-item .list-group-item-action cursor-pointer">
                        <div class="row">
                            <div class="col-11">
                                <button class="btn btn-outline-secondary btn-lg mb-2"
                                    data-button='{{button | tojson | forceescape }}' onclick='modifyButton(this)'>
                                    <i class="fa fa-plus-circle"></i> <span>{{button.name}}</span>
                                </button>
                                <div class="text-secondary"> &nbsp;<em> {{button.category}}</em> |
                                    {{button.subcategory}}
                                </div>
                            </div>

                        </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <div class="modal fade" id="category-modal" tabindex="-1" aria-labelledby="category-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="category-modal-label">Quick-Find Button</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="buttonForm">
                    <div class="modal-body">


                        <label for="button-name">Button Name</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-comment"></i> </span>
                            <input id="button-name" name="name" type="text" class="form-control" value="" />
                        </div>
                        <div class="mt-3 mb-3">
                            <h4 class="mb-1">Subcategory: </h4>
                            <div>&ensp;<em id="subcategory-text"></em></div>
                        </div>
                        <div>
                            <h5 class="mb-1">Category: </h5>
                            <div>&ensp;<em id="category-text"></em></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="deleteButton" type="button" class="btn btn-danger mr-auto"
                            data-bs-dismiss="modal">Delete</button>

                        <button id="save-button" type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            data-id="">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    let category_modal = new bootstrap.Modal(document.getElementById('category-modal'));
    let subcategoryIndex = undefined

    $(".select-button").on('click', function () {
        let item = $(this).data('item');
        subcategoryIndex = $(this).parents('li').index()

        let name = item.category + ' | ' + item.subcategory;

        $('#save-button').removeClass('btn-success');
        $('#save-button').addClass('btn-primary');
        $('#save-button').text('Create');
        $('#button-name').val(name);

        $('#save-button').data('id', '');
        $('#deleteButton').addClass('d-none');

        $('#category-text').text(item.category);
        $('#subcategory-text').text(item.subcategory);

        category_modal.show();
    })

    function modifyButton(thisButton) {
        let button = $(thisButton).data('button');
        subcategoryIndex = $(thisButton).parents('li').index()

        $('#save-button').removeClass('btn-primary');
        $('#save-button').addClass('btn-success');
        $('#save-button').text('Save');
        $('#button-name').val(button.name);

        $('#save-button').data('id', button.id);
        $('#deleteButton').removeClass('d-none');

        $('#category-text').text(button.category);
        $('#subcategory-text').text(button.subcategory);

        category_modal.show();
    }


    $("#buttonForm").submit(function (e) {
        e.preventDefault();

        msg = {
            name: $('#button-name').val(),
            category: $('#category-text').text(),
            subcategory: $('#subcategory-text').text(),
        }

        if ($('#save-button').data('id') != '') {
            msg.id = $('#save-button').data('id')
        }

        $.post('./api/quickmenu', msg, function (data) {
            if (data.id != msg.id) {
                $('#no-button').addClass('d-none')
                $("#categoryList").children().eq(subcategoryIndex).addClass('d-none')
                createButton(data)
            } else {
                let $li = $("#buttonList").children().eq(subcategoryIndex)
                $li.find('button span').text(data.name)
                $li.find('button').data('button', data)
            }
        })
    })

    $('#deleteButton').on('click', function () {
        msg = {
            delete_id: $('#save-button').data('id'),
        }

        $.post('./api/quickmenu', msg, function (data) {
            if (data) {
                if (data.count == 0) $('#no-button').removeClass('d-none')

                $("#buttonList").children().eq(subcategoryIndex).remove()
                let category = $('#category-text').text();
                let subcategory = $('#subcategory-text').text();

                $('#categoryList li').each(function () {
                    item = $(this).find('button').data('item');
                    
                    if (item.category == category && item.subcategory == subcategory) {
                        $(this).removeClass('d-none');
                    }   
                });
            }
        })
    })

    function createButton(data) {
        button = '<li class="list-group-item .list-group-item-action cursor-pointer">' +
            '    <div class="row">' +
            '        <div class="col-11">' +
            '<button class="btn btn-outline-secondary btn-lg mb-2" data-button="" onclick="modifyButton(this)">' +
            `<i class="fa fa-plus-circle"></i> <span>${data.name}</span></button>` +
            `<div class="text-secondary"> &nbsp;<em> ${data.category}</em> | ${data.subcategory} </div>` +
            '        </div>' +
            '    </div>' +
            '</li>'

        $('#buttonList').append(button)
        $('#buttonList li').last().find('button').data('button', data)
    }

    $('#search').on('input', function(){
        input = $(this).val()
        let categoryList = [];
        $('#categoryList li').each(function(){
            if ( !$(this).hasClass('d-none')){
                $(this).show()
                categoryList.push(this)
            }
        });

        categoryList.forEach(element => {
            item = $(element).find('button').data('item');

            let category = item.category.toLowerCase();
            let subcategory = item.subcategory.toLowerCase();
            if (!category.includes(input) && !subcategory.includes(input)){
                $(element).hide()
            }
        });
    })

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#categoryList li').each(function () {
            $li = $(this);
            item = $li.find('button').data('item');

            $('#buttonList li').each(function () {
                button = $(this).find('button').data('button');

                if (button.category == item.category && button.subcategory == item.subcategory) {
                    $li.addClass('d-none');
                }
            })
        })
    });

    $('#buttonList').sortable({
      revert: 200,

      stop: function (event, ui) {
        buttonIds = []
        $('#buttonList li').each(function () {
          item = $(this).find('button').data('button')
          buttonIds.push(item.id);
        })

        msg = {
          ids: JSON.stringify({
            button_ids: buttonIds,
          })
        }

        $.post('./api/quickmenu', msg, function (data) {

        });
      }
    });
</script>

<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>
{% endblock body %}