{% extends "admin/base.html" %}

{% block title %} Customize status {% endblock %}

{% block head %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/fontawesome.all.min.css" rel="stylesheet">
<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- https://github.com/furf/jquery-ui-touch-punch -->
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
{% endblock head %}

{% block body %}
<div class="p3 row justify-content-center">

  <div class="col-12 container">
    <h1 class="mb-5">Customize Workorder Statuses</h1>
    <div class="row">
      <div class="col-sm-6 col-lg-5 mb-5">
        <h3>Statuses</h3>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true">Active</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#close" type="button"
              role="tab" aria-controls="close" aria-selected="false">Archived</a>
          </li>
        </ul>


        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ol id="statusList" class="list-group list-group-flush status-list">
              {% for status in statuses %}
              <li class="list-group-item .list-group-item-action cursor-pointer" data-index="{{status.display_order}}">
                <span class="badge" style="color: white; font-size: large; background-color: {{status.color}}">{{ status
                  }}</span>
              </li>
              {% endfor %}
            </ol>
            <button id="newStatus" class="btn btn-outline-primary btn-block mt-4" onclick="switchToCreate()"><i
                class="fas fa-plus-circle"></i>
              New</button>
          </div>
          <div class="tab-pane fade" id="close" role="tabpanel" aria-labelledby="close-tab">
            <ol id="archivedList" class="list-group list-group-flush">
              {% for status in archived_statuses %}
              <li class="list-group-item .list-group-item-action cursor-pointer" data-index="{{status.id}}">
                <span class="badge" style="color: white; font-size: large; background-color: {{status.color}}">{{ status
                  }}</span>
              </li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>

      <div id="statusInputs" class="col mt-2">
        <form id="statusForm" action="" method="POST">
          <div class="row mb-3">
            <div class="col">
              <label for="name">Name</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-comment-dots"></i></span>
                <input id="name" name="name" type="text" class="form-control" value="" required />
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <label for="color">Color</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-palette"></i></span>
                <input id="color" name="color" type="color" class="form-control" value="" required />
              </div>
            </div>
          </div>
        </form>

        <div class="row mt-5 mb-4">
          <div class="col">
            <button id="save" class="btn btn-primary btn-block" form="statusForm">
              <i class="fas fa-save"></i><span> Create</span>
            </button>
            <button id="archive" class="btn btn-danger btn-block invisible">
              <i class="fas fa-archive"></i><span> Archive</span>
            </button>

          </div>
        </div>
        <button id="unarchive" class="btn btn-warning btn-block btn-lg mt-3 mb-4 d-none" >
          <i class="fas fa-box-open"></i><span> Unarchive</span>
        </button>
        <div id="statusAlert" class="alert alert-success" role="alert" style="display: none;">
          Status successfully <span></span>
        </div>
      </div>

    </div>

    <!-- <p class="text-center">
      <b>Note</b> : archived workorders can be viewed and unarchived
      in <a href="{{ url_for('workorderstatus.index_view') }}">the raw data section</a>.
    </p> -->
  </div>

  <script>
    let statuses = {{ workorderstatuses | tojson }};
    let buttonRect = document.getElementById("unarchive").getBoundingClientRect();

    const special_ids = {{ special_ids }}

    $("#unarchive").on('click', function(){
        let statusId = $("#unarchive").data('id')
        msg = {
          statusId: statusId,
          archived: false
        }
        $.post('./api/status/', msg, function (data) {
          if (data) {
            showStatusAlert('unarchived')
            let status = findStatus("archivedList", statusId);
            $(status).remove()
            statuses.push(data)
            addStatus("#statusList", statuses.length - 1, data.color, data.name)
            $("#unarchive").addClass('d-none')
          }
        })
    });

    $('#archivedList li').on('click', unarchive)
    function unarchive(){
      $this = $(this);
      $('#statusList li, #archivedList li ').each(function () {
        $(this).removeClass('active');
      })
      $this.addClass('active')
      $("#unarchive").data('id', $(this).data('index'))

      $("#statusInputs .row").hide()
      $("#unarchive").removeClass('d-none')
    }

    $('#statusList li').mouseup(mouseUp);

    function mouseUp() {
      $("#statusInputs .row").show()
      $("#unarchive").addClass('d-none')

      $this = $(this);
      if (!$this.hasClass('ui-sortable-helper')) {
        switchToEdit()

        $('#statusList li, #archivedList li').each(function () {
          $(this).removeClass('active')
        })
        $this.addClass('active')
        index = $this.data('index')


        $("#name").val(statuses[index].name)
        $("#color").val(statuses[index].color)
        $("#save, #archive").val(index)

        if (special_ids.indexOf(statuses[index].id) > -1) {
          $("#name").prop('disabled', 'disabled')
          $("#archive").addClass('invisible')
        }
      }
    }

    function switchToEdit() {
      if ($("#archive").hasClass("invisible")) {
        $("#archive").removeClass("invisible");
        $("#name").prop('disabled', '')
        $('#save span').text(' Save');
        $('#save').removeClass('btn-primary')
        $('#save').addClass('btn-success')
      }
    }

    function findStatus(list, index) {
      let status = undefined
      $(`#${list} li`).each(function () {
        if ($(this).data('index') == index) {
          status = this
        }
      })
      return status
    }

    function switchToCreate() {
      $("#statusInputs .row").show()
      $("#unarchive").addClass('d-none')
      let $activeItems = $('#statusList li.active')

      if ($activeItems.length) {
        $activeItems.each(function () {
          $(this).removeClass('active')
        })
      } else {
        // Re-clicking on "New" should trigger some visual feedback
        $('#name').css({ backgroundColor: '#FFEF9A' })
        setTimeout(() => $('#name').css({ backgroundColor: 'transparent' }), 1500)
      }

      $("#name").prop('disabled', '')
      $("#archive").addClass("invisible");
      $('#save span').text(' Create');
      $('#save').removeClass('btn-success')
      $('#save').addClass('btn-primary')

      $("#name").val('')
      $("#color").val('')
      $("#save, #archive").val('')
    }

    $("#statusForm").submit(function (e) {
      e.preventDefault()
      let index = $("#save").val()

      msg = {
        name: $("#name").val(),
        color: $("#color").val(),
      }

      if (index.length > 0) {
        msg.id = statuses[index].id
      }


      $.post('./api/status/', msg, function (data) {
        let alertText = ''
        if (msg.id == undefined) {
          alertText = 'created';
          statuses.push(data);
          switchToEdit();
          $("#save, #archive").val(statuses.length - 1);
          addStatus("#statusList", statuses.length - 1, data.color, data.name)
          $("#statusList li:last-child").addClass("active")
        } else {
          alertText = 'updated';
          statuses[index] = data
          let status = findStatus("statusList", index);
          $('.badge', status).text(data.name);
          $('.badge', status).css({ backgroundColor: data.color });
        }

        showStatusAlert(alertText)
      });
    })

    $("#archive").on('click', function () {
      if (confirm("Archive this status?")) {
        let index = $(this).val();

        msg = {
          statusId: statuses[index].id,
          archived: true
        }
        $.post('./api/status/', msg, function (data) {
          if (data) {
            switchToCreate();
            let status = findStatus("statusList", index);
            $(status).remove()

            addStatus("#archivedList", statuses[index].id, statuses[index].color, statuses[index].name)
            showStatusAlert('archived')
            delete statuses[index]
          }
        })
      }
    })

    $('.status-list').sortable({
      revert: 200,
      distance: 10,

      start: function (event, ui) {
      },

      stop: function (event, ui) {
        statusIds = []
        $('#statusList li').each(function () {
          index = $(this).data('index')
          statusIds.push(statuses[index].id);
        })

        msg = {
          ids: JSON.stringify({
            status_ids: statusIds,
          })
        }


        $.post('./api/status/', msg, function (data) {
        });
      }
    });

    function addStatus(list, index, color, name){
      $(list).append(
        '<li class="list-group-item .list-group-item-action cursor-pointer"' +
          `data-index="${index}">` +
          `<span class="badge" style="color: white; font-size: large; background-color: ${color}">${name}</span>` +
        '</li>');
      $('#statusList li').mouseup(mouseUp);
      $('#archivedList li').on('click', unarchive)
    }

    function showStatusAlert(text){
      $("#statusAlert span").text(text)
      $("#statusAlert").fadeIn(500, function () {
          setTimeout(function () {
            $("#statusAlert").fadeOut(500);
          }, 1500)
      });
    }

  
  </script>

  <style>
    .list-group-item.active {
      background-color: #DDD;
      border-color: #DDD;
    }

    .cursor-pointer {
      cursor: pointer;
    }
  </style>
</div>
{% endblock body %}