<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/typeahead.css" rel="stylesheet">
  <link href="/static/css/daterangepicker.css" rel="stylesheet" />
  <link href="/static/css/fontawesome.all.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">

  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/handlebars.min-v4.7.7.js"></script>
  <script src="/static/js/precompiled-templates.js"></script>
  <script src="/static/js/fontawesome.all.min.js"></script>
  <script src="/static/js/typeahead.bundle.min.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/daterangepicker.js"></script>
  <script src="/static/js/chart.min.js"></script>
  <script src="/static/js/chartjs-plugin-datalabels.min.js"></script>

  <script src="/static/js/helpers.js"></script>

  <title>{% block title %}{% endblock %}MiniPOS</title>
</head>

<body{% if current_user.is_authenticated and 'light_role' in session %} class="is-authenticated"{% endif %}>
  {% include "nav.html" %}

    {% if not cash_register_open %}
      <div class="row w-100 mt-4 justify-content-center text-center">
        <div class="col-6 alert alert-danger" style="padding: 10px 15px">
            <i class="fa fa-exclamation-triangle"></i> The cash
            register is closed. All transactions are blocked until you
            open it.
            <br><br>
            <a id="take-cash" class="btn btn-lg btn-primary" href="/cash-register/#submit-close">
                <i class="fa fa-cash-register"></i> Go to cash register
            </a>
        </div>
      </div>
    {% endif %}
    <div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
</body>

</html>
