{% extends "base.html" %}

{% block title %} Cash Register {% endblock %}

{% from 'macros.html' import denomination_counter %}

{% block content %}
<div class="p3 row justify-content-center">

  <div class="col-lg-9 col-12 container">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="close-tab" data-bs-toggle="tab" data-bs-target="#close" href="#close" type="button" role="tab"
           aria-controls="close" aria-selected="true">
            <i class="fas fa-cash-register"></i> Open/Close Register
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
           role="tab" aria-controls="home" aria-selected="false">
            <i class="fas fa-coins"></i> Withdraw/Deposit cash
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form id="cash-form" action="/cash-register/" method="post" onsubmit="return validateForm(this)">
          <div class="row mt-4 {%if not cash_register_open %} opacity-50 pe-none {% endif %}">
            <h1 class="text-success clearfix">Cash Deposit or Withdrawal</h1>

            <div class="col mt-4">
              <div class="form-check">
                <input class="form-check-input mt-2" type="radio" name="deposit" id="withdrawal" value="withdrawal"
                  checked>
                <label class="form-check-label" for="withdrawal">
                  <h3>Withdrawal</h3>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input mt-2" type="radio" name="deposit" id="deposit" value="deposit" required>
                <label class="form-check-label" for="deposit">
                  <h3>Deposit</h3>
                </label>
              </div>

              <div>
                <h4 class="mt-4">Notes <small>(optional)</small></h4>
                <textarea class="form-control" name="comment" id="cash-notes" cols="30" rows="5"></textarea>
              </div>

              <button class="btn d-none d-sm-block w-100 btn-success mt-4 submit">
                <i class="fas fa-coins"></i> <span>Withdraw</span> Cash
              </button>
            </div>

            <div class="col-12 col-sm-7 mt-3 mb-4">
              <h4>Amount</h4>
              <div id="deposit-table" class="table-parent">

                {{ denomination_counter(config.CASH_DENOMINATIONS, 'amount') }}
              </div>

              <button class="btn d-sm-none d-block w-100 btn-success submit">
                <i class="fas fa-coins"></i> <span>Withdraw</span> Cash
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade show active" id="close" role="tabpanel" aria-labelledby="close-tab">
        <form id="close-form" action="/cash-register/" method="post">
          <div class="row mt-4 ">
              <h1 class="text-success clearfix">
                  Cash Register Open/Close

                  <div class="float-right">
                  <a class="btn btn-sm btn-success"
                     {% if last_close %}
                     href="/admin/transaction/?flt_created_greater_than={{ last_close.created.strftime("%Y-%m-%d %H:%M:%S") }}"
                     {% else %}
                     href="/admin/transaction/"
                     {% endif %}>
                     <i class="fas fa-receipt"></i> List transactions
                  </a>
                  <a class="btn btn-sm btn-secondary" href="/admin/cashregisterstate/">
                      <i class="fas fa-cash-register"></i> Register history
                  </a>
                  </div>
              </h1>
            <p>
                Last close : {{ date }}
            </p>

            <div class="col-12 col-md-5 mt-2">
              <h2 class="text-primary">Recorded amounts</h2>
              <p>This is what the point of sale recorded</p>

              {# Cash #}
              <div>
                  <h4>Total cash : {{ cash_register_stats.total_cash | format_currency }}</h4>
                  <div class="m-3">
                      <h6>Initial cash fund: {{cash_register_stats.last_cash_fund | format_currency}}</h6>

                      <h6>Register deposits: {{cash_register_stats.deposits | format_currency}}</h6>

                      <h6>Received from clients: {{(
                                         cash_register_stats.cash
                                         - cash_register_stats.deposits
                                     ) | format_currency}}</h6>
                  </div>
              </div>

              {# Other amounts #}
              <h4>Interac : {{ cash_register_stats.interac | format_currency }}</h4>

              <h4>Visa : {{ cash_register_stats.visa | format_currency }}</h4>

              {# Explaination for in-store credits (if applicable) #}
              {% if cash_register_stats.new_in_store_credit or cash_register_stats.used_in_store_credit %}
                  <h4 class="mt-5">In-store credits</h4>
                  <p class="text-muted">This includes deposits and refunds as credit</p>

                  <div class="m-3">
                      <h6>New credit collected :
                          {{ cash_register_stats.new_in_store_credit | format_currency }}
                          <br>
                          <small class="text-muted">This money is <u>owed</u> to various clients</small>
                      </h6>
                      <h6 class="mt-3">Credit spent by clients:
                          {{ cash_register_stats.used_in_store_credit | format_currency }}
                      </h6>
                  </div>
              {% endif %}
            </div>

            <div class="col mt-2">
              <div class="{%if not cash_register_open %} d-none {% endif %}">
                <h2 class="text-primary">Actual amounts</h2>
                <p>Write down what you counted</p>

                <div class="mb-4">
                    <h4>Cash</h4>

                    <div id="close-table" class="table-parent">
                        {{ denomination_counter(config.CASH_DENOMINATIONS, 'cash') }}
                    </div>
                </div>

                <div class="mb-4">
                    <h4>Interac</h4>

                    <input class="form-control" type="number" step="0.01"
                           name="interac" value="{{cash_register_stats.interac}}" required />
                </div>

                <div class="mb-4">
                    <h4>Visa</h4>

                    <input class="form-control" type="number" step="0.01"
                           name="visa" value="{{cash_register_stats.visa}}" required />
                </div>
                <br>
              </div>
              <h4>Notes <small>(optional)</small></h4>
              <textarea class="form-control" name="comment" id="cash-notes" rows="5"
                placeholder="eg.: Human error during workorder #728, not enough change given back"></textarea>
              <br>

              <h4>Cash Fund</h4>
              <p>How much cash is left in the register as cash fund</p>
              {% if cash_register_open %}
                  <input type="number" step="0.01" name="cash_fund" id="" min="0" class="form-control" value="{{ default_cash_fund }}" required>
              {% else %}
                  <div id="close-table" class="table-parent">
                      {{ denomination_counter(config.CASH_DENOMINATIONS, 'cash_fund') }}
                  </div>
              {% endif %}
              <button id="submit-close" class="btn btn-primary mt-4 mb-4 float-right"><i
                  class="fas fa-file-invoice-dollar"></i>
                {{ "Close" if cash_register_open else "Open" }} Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>





  </div>

  <script>
    $(".denomination, .extra").on('input', addAmounts)

    function addAmounts() {
      let total = 0
      $table = $(this).closest(".table-parent")
      $table.find(".denomination").each(function () {
        let denomination = parseFloat($(this).data('denomination'))
        let value = $(this).val()

        if (value.trim().length != 0) {
          total += parseFloat(value) * denomination
        }

      })
      let extra = $table.find(".extra").val()
      if (extra.trim().length != 0) {
        total += parseFloat(extra)
      }

      total = Math.round((total * 100)) / 100
      $table.find('.total-amount').val(total)
    }

    $("[name=deposit]").on('input', function () {
      let button_text = ($(this).val() == "deposit") ? "Deposit" : "Withdraw";
      $('.submit span').text(button_text)
    })

    function validateForm(form) {
      let total = $(form).find(".total-amount").val()

      if (total == 0) {
        alert('Must input some amount to deposit or to withdraw')
        return false
      }
      return true
    }


    document.addEventListener('DOMContentLoaded', showCloseTab)
    $("#take-cash").on('click', showCloseTab)

    function showCloseTab(){
      $(`a[href="${window.location.hash}"]`).tab('show');
    }
  </script>

</div>
{% endblock content %}
