{% extends "base.html" %}

{% from 'macros.html' import workorder_view %}

{% block title %} Client : {{client['id']}} {% endblock %}

{% block content %}
  {% if new %}
    <form action="/client/new/{% if workorder_id %}{{ workorder_id }}{% endif %}"
          method="post" onsubmit="return warnEmptyFields()">
        <div class="alert alert-danger d-none text-center" id="similar-client">
            It looks like this person might already be a client. Would
            you like to continue with...<br><br>
            <div id="similar-client-btns"></div>
        </div>
      {% if not error %}
        <div class="alert alert-primary" id="create-client">
            <i class="fa fa-user"></i> Create a new client
        </div>
      {% else %}
        <div class="alert alert-danger">
            <i class="fa fa-user"></i> Enter valid fields
        </div>
        <!--
          {{error}}
          -->
      {% endif %}
  {% endif %}
  <div class="row">
    <h3>Client infos</h3>
    <div class="col-sm-6">
      <div class="row mb-4">
        <div class="col-6">
          <label for="first_name">First name</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
            <input id="first_name" name="first_name" type="text" class="form-control" value="{{client.first_name or ''}}" autocomplete="off" />
          </div>
        </div>
        <div class="col-6">
          <label for="last_name">Last name</label>
          <input id="last_name" name="last_name" type="text" class="form-control" value="{{client.last_name or ''}}" autocomplete="off" />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-8">
          <label for="address">Address</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
            <input id="address" name="address" type="text" class="form-control" value="{{client.address or ''}}" autocomplete="off" />
          </div>
        </div>
        <div class="col-sm-4">
          <label for="postal_code">Postal code</label>
          <input id="postal_code" name="postal_code" type="text" class="form-control" value="{{client.postal_code or ''}}" autocomplete="off" />
          {% if client.postal_code_region() %}
            <small class="text-muted">{{ client.postal_code_region() }}</small>
          {% endif %}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-6">
          <label for="phone">Phone number</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-mobile-alt"></i></span>
            <input id="phone" name="phone" type="tel" class="form-control" value="{{client.phone or ''}}" autocomplete="off" />
          </div>
        </div>
        <div class="col-sm-6">
          <label for="email">Email</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
            <input id="email" name="email" type="email" class="form-control" value="{{client.email or ''}}" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="row mt-4 mb-4">
        <div class="col-sm-6">
          <label for="phone">Year of birth</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
            <input id="year_of_birth" name="year_of_birth" type="number" class="form-control" value="{{client.year_of_birth or ''}}" autocomplete="off" />
          </div>
        </div>
        <div class="col-sm-6">
          <label>
            <br>
            <div>
              <input name="email_consent" type="checkbox" {{ 'checked' if client.email_consent else ''}} />
              <span>Consents to receive emails</span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-6" >
      <label for="internal_notes">Notes</label>
      <textarea id="internal_notes" name="internal_notes" rows="5" class="form-control">{{ client.internal_notes or '' }}</textarea>
      {% if not new %}
        <div class="mt-3">
          {% if client.membership_paid_until is none %}
            <div class="alert alert-warning"><i>No membership yet </i></div>
          {% elif client.membership_paid_until is past %}</p>
            <div class="alert alert-danger">
                <i>Membership ended on </i> : {{ client.membership_paid_until | humandate }}
            </div>
          {% else %}
            <div class="alert alert-success">
                <i>Membership paid until</i>: {{ client.membership_paid_until | humandate }}
                <br>
                <i>Membership type</i>: <i>{{client.membership_item.name or 'Unknown'}}</i>
            </div>
          {% endif %}
        </div>
        {% if client.in_store_credit > 0 %}
            <span class="badge bg-success" style="font-size: large">
                In-store credit of {{client.in_store_credit|format_currency}} available
            </span>
        {% elif client.in_store_credit < 0 %}
            <span class="badge bg-danger" style="font-size: large">
                This client owes the store {{client.in_store_credit|abs|format_currency}}
            </span>
        {% endif %}
        <p class="text-muted">
            <small>
                <i>Created on</i> : {{client.created | humandate}}, <i>last updated on</i> : {{client.updated | humandate}}
            </small>
        </p>
      {% endif %}
    </div>
  </div>
  {% if client.id %}
      <style>
          input[name="first_name"][value=""],
          input[name="last_name"][value=""],
          input[name="postal_code"][value=""]
          {% if not client.email and not client.phone %}
          ,
          input[name="email"][value=""],
          input[name="phone"][value=""]
          {% endif %}
          {
              background-color: #FFEF9A;
          }
      </style>
  {% endif %}

  {% if new %}
    <div class="mt-4" style="text-align: right">
      <button type="submit" class="btn btn-success btn-lg">
          <i class="fa fa-save"></i> Save & Proceed to workorder
      </button>
    </div>
    </form>
    <script>
        //Load an alert if the user is trying to create a client that is similar to an existing one.
        document.addEventListener('DOMContentLoaded', () => {

          //setup before functions
          let typingTimer;                //timer identifier
          let doneTypingInterval = 500;  //time in ms
          let fieldIdArray = ['email', 'phone', 'first_name','last_name'];

          for (let i = 0; i < fieldIdArray.length; i++) {
            //on keyup, start the countdown
            let idInput = document.getElementById(fieldIdArray[i]);

            idInput.addEventListener('keyup', () => {
              clearTimeout(typingTimer);
              typingTimer = setTimeout(verifyIfSimilarClient, doneTypingInterval);
            });
            idInput.addEventListener('blur', () => {
              verifyIfSimilarClient();
            });


          }

          //user is "finished typing," do something
          function verifyIfSimilarClient () {
            let query = [];
            let value = '';

            for (let i = 0; i < fieldIdArray.length; i++) {
              if (fieldIdArray[i] == 'email') {
                value = document.getElementById(fieldIdArray[i]).value;
              }else{
                value = document.getElementById(fieldIdArray[i]).value.toLowerCase();
              }
              
              query.push(fieldIdArray[i] + '=' + encodeURIComponent(value));
            }
            query = query.join('&');

            $.get('/api/similar-client/?'+ query, function(data) {
              if (data.results.length > 0) {

                  $('#similar-client-btns').html('');

                  data.results.forEach(function(client) {
                      let similarClientButton = $('<a class="btn btn-danger m-1" href="/workorder/new/' + client.id + '">' +
                                                  '<span class="name"></span><br><span class="phone"></span></a>');

                      $('.name', similarClientButton).text(client.first_name + ' ' + client.last_name);
                      $('.phone', similarClientButton).text(client.phone);

                      $('#similar-client-btns').append(similarClientButton);
                  });

                  $('#similar-client').slideDown().removeClass("d-none");
                  $('#create-client').slideUp();
              } else {
                  $('#similar-client').slideUp();
                  $('#create-client').slideDown();
              }

            });
          }
        });

        var isFirstSubmit = true;
        const inputFieldId = ["first_name", "last_name", "postal_code"];
        function warnEmptyFields(){
            var allFieldsFull = false;

            // The second time this form is submitted, bypass the validation
            // (if we are in a hurry or if we don't know some values, we
            // might actually want to create an incomplete profile)
            if (!isFirstSubmit) {
                return true;
            }
            if ($("#phone").val() != "" || $("#email").val() != "") {
                allFieldsFull = true;
            }

            for (let i = 0; i < inputFieldId.length; i++) {

                let element = document.getElementById(inputFieldId[i]);

                allFieldsFull = allFieldsFull && element.value != "";

                if (element.value == "") {
                    $('#'+ inputFieldId[i]).addClass('is-invalid');
                }
            }

            if (allFieldsFull) {
                return true;
            }

            if ($("#phone").val() == "") {
                $('#phone').addClass('is-invalid');
            }
            if ($("#email").val() == "") {
                $('#email').addClass('is-invalid');
            }

            isFirstSubmit = false;

            return false;
        };
        document.addEventListener('DOMContentLoaded', function() {
            $('input, textarea').on('input', function() {
                let $input = $(this);
                $input.removeClass('is-invalid');
            });
        });
    </script>
  {% else %}

    <hr>

    <div class="row p-3">
        <div class="col-sm-8">
            {% if current_workorders %}
                <div class="row mb-4 incomplete-workorders">
                    <h3>Unfinished workorders</h3>
                    {% for workorder in current_workorders %}
                        {{ workorder_view(workorder) }}
                    {% endfor %}
                </div>
                <style>
                    .incomplete-workorders .list-group-item {
                        background-color: #FFEF9A;
                    }
                </style>
            {% endif %}

            <h3>
                History
                <a class="btn btn-primary" href="/workorder/new/{{client.id}}">
                    <i class="fa fa-plus-circle"></i> New workorder
                </a>
            </h3>

            <div class="p3 row">
                {% for workorder in previous_workorders %}
                    {{ workorder_view(workorder) }}
                {% else %}
                    <i>Nothing yet</i>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if client.unique_bikes() %}
            <div class="mb-4">
                <h3>Listed bikes</h3>
                <ul>
                {% for bike in client.unique_bikes() %}
                    <li>
                        {{ bike.bike_description }} {{ bike.bike_serial_number }}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <script>

        function save($input) {
            let name = $input.attr('name');
            let value = $input.val();

            if(name == 'email_consent')
                value = +$input.prop('checked');

            $.ajax('/api/edit/client/{{client.id}}', {
                data: JSON.stringify({
                    column: name,
                    value: value,
                }),
                contentType : 'application/json',
                type: 'POST',
                success: function() {
                    $input.addClass('is-valid');
                    setTimeout(() => {
                        $input.removeClass('is-valid')
                    }, 5000);
                }
            });
        }

        let timers = {};

        document.addEventListener('DOMContentLoaded', function() {

            $('input, textarea').on('input', function() {
                let $input = $(this);

                $input.css({'background-color': 'transparent'});

                let name = $input.attr('name');

                if(typeof(timers[name]) !== 'undefined')
                    clearTimeout(timers[name]);

                timers[name] = setTimeout(function() {
                    save($input);
                }, 500);
            });

            $('input, textarea').on('change', function() {
                let $input = $(this);
                let name = $input.attr('name');

                if(typeof(timers[name]) !== 'undefined')
                    clearTimeout(timers[name]);

                save($input);
            });
        });
    </script>
  {% endif %}

{% endblock %}
