{% extends "base.html" %}

{% block title %} Confirm your identity {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="bg-light p-4 col-sm-6 text-center">
            <h2>Confirm your identity</h2>
            <h3>Enter the access code</h3>
            <br />
            <form action="" method="POST" class="text-center">
                <div class="input-group">
                    <input name="password" type="password" class="form-control text-center" />
                    <br />
                    <button type="submit" class="input-group-btn btn btn-primary">
                        Continue
                    </button>
                </div>
            </form>
            {% if config.DEBUG %}
                <div class="mt-5" style="max-width: 300px; border: 1px dashed black; margin: auto">
                    <p><b><u>Demo</u> access codes</b></p>
                    <p>
                        admin = <u>root</u>
                        <br>
                        employee = <u>abc</u>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
