{#

NOTE : This template is for *printed* receipts only

If anything must be added here, don't forget to add it to
email-receipt.html as well!


#}
<!DOCTYPE html>
<html lang="en">

  <!-- This file was originally based on https://www.bootdey.com/snippets/view/simple-invoice-receipt-email-template -->
  <!-- (Mit license https://www.bootdey.com/license) -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome.all.min.css" rel="stylesheet">
    <link href="/static/css/receipt.css" rel="stylesheet">

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/fontawesome.all.min.js"></script>

    <title>Receipt #{{transaction.id}}</title>
  </head>
  <body>
      <div id="buttons" class="text-center">
          <a id="home" class="btn btn-lg btn-primary" href="/">
              <i class="fa fa-home"></i> Home
          </a>
          <button id="print" onclick="window.print();" class="btn btn-lg btn-success">
              <i class="fa fa-print"></i> Print
          </button>
      </div>

      <div>
        <div class="text-center">
          <h2>{{config.COMPANY_NAME.upper()}}</h2>
          <h2>Transaction Receipt #{{transaction.id}}</h2>
        </div>
        
        <div class="text-center">
            <p style="font-size: larger; margin: 25px 0;">
                {% if transaction.amount > 0 %}
                    <u>DEPOSIT</u>:
                {% else %}
                    <u>CREDIT REFUND</u>:
                {% endif %}
                {{transaction.amount|abs|format_currency}} {{transaction.payment_method}}
                received on {{transaction.created | humandate('%Y-%m-%d %H:%M')}}
            </p>
            <p class="address">{{config.COMPANY_ADDRESS.strip()}}</p>
        </div>
      </div>
      </div>
  </body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.print();
    });
</script>
