<div class="modal fade" id="send-email-modal" tabindex="-1" aria-labelledby="modal-send-email-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        {% if in_store_credit_transaction %}
        <form class="modal-content" action="/deposit/email-receipt/{{workorder.id}}" method="post">
        {% else %}    
        <form class="modal-content" action="/workorder/email-receipt/{{workorder.id}}" method="post">
        {% endif %}
            <div class="modal-header">
                <h5 class="modal-title" id="modal-send-email-label">Send receipt by email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6">
                    <label for="send-email-modal-input">Email address :</label>
                    <input id="send-email-modal-input" type="email" class="form-control" required name="email"
                    {% if workorder.client %}
                    value="{{workorder.client.email}}"
                    data-previous-value="{{workorder.client.email}}"
                    {% endif %}/>
                </div>
                {% if workorder.client %}
                    <div class="col-sm-6">
                        <br>
                        <label class="save-email-checkbox d-none">
                            <input type="checkbox" name="save-email" /> Save email for next time
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-at"></i> Send receipt
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let input = $('#send-email-modal input[name="email"]');
        let checkbox = $('#send-email-modal .save-email-checkbox');
        let updateCheckbox = function() {
            if(input.val() == input.data('previous-value'))
                checkbox.addClass('d-none');
            else
                checkbox.removeClass('d-none');
        }
        input.on('input', updateCheckbox).on('change', updateCheckbox);
    });

    function show_email_modal() {
        let m = new bootstrap.Modal(document.getElementById('send-email-modal'));
        m.show();
    }
</script>
