<iframe id="iframe" src="{{ url }}" style="opacity: 0.5; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; pointer-events: none"></iframe>
<div id="enable-fullscreen" style="position: absolute; top: 15%; left: 0; width: 100%; text-align: center">
    <button style="font-size: 50px" onclick="full()">Enable fullscreen</button>
</div>
<script>
    function full() {
        let btn = document.getElementById('enable-fullscreen');
        btn.style.display = 'none';

        launchFullScreen(document.documentElement);

        let iframe = document.getElementById('iframe');

        iframe.style.opacity = 1;
        iframe.style.pointerEvents = 'all';
    }

    // https://stackoverflow.com/a/19355528/14639652
    function launchFullScreen(element) {
        if(element.requestFullScreen) {
            element.requestFullScreen();
        } else if(element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if(element.webkitRequestFullScreen) {
            element.webkitRequestFullScreen();
        }
    }

    window.addEventListener("message", function(event) {
        console.log(event);

        if (event.origin !== window.origin)
            return;

        window.location = '/';
    }, false);

    // https://stackoverflow.com/a/25876513/14639652
    if (document.addEventListener)
    {
        document.addEventListener('fullscreenchange', exitHandler, false);
        document.addEventListener('mozfullscreenchange', exitHandler, false);
        document.addEventListener('MSFullscreenChange', exitHandler, false);
        document.addEventListener('webkitfullscreenchange', exitHandler, false);
    }

    function exitHandler()
    {
        if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement)
        {
            let btn = document.getElementById('enable-fullscreen');
            btn.style.display = 'block';

            let iframe = document.getElementById('iframe');
            iframe.style.opacity = 0.5;
            iframe.style.pointerEvents = 'none';
        }
    }
</script>
<style>
button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
</style>
