{% extends "base.html" %}

{% from 'macros.html' import workorder_view %}

{% block content %}

  {% if workorder_just_paid %}
    {% with workorder = workorder_just_paid %}
      <div class="alert alert-secondary alert-dismissible mb-5 p-3 row text-center">
        <h3>
          Thank you{% if workorder.client %}, <i>{{workorder.client.name() }}</i>{% endif %}!
        </h3>
        {% if workorder.total() > 0 %}
          <h4>
              Payment received :
              {% for transaction in workorder.transactions %}
                  <b>
                      {{ transaction.amount | format_currency }}
                      ({{ transaction.payment_method }})
                  </b>
              {% endfor %}
          </h4>
        {% elif workorder.total() < 0 %}
          <h4>Refund completed</h4>
        {% endif %}
        {% if renewed_membership %}
            <h5>Membership renewed until <u>{{ renewed_membership | humandate }}</u></h5>
        {% endif %}
        <div class="p-3">
          <a class="btn btn-primary thank-you-btn" href="/workorder/receipt/{{workorder.id}}">
            <i class="fas fa-receipt"></i> Print receipt
          </a>
          <button class="btn btn-secondary thank-you-btn" onclick="show_email_modal()">
            <i class="fas fa-at"></i> Email Receipt
          </button>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% include "email-modal.html" %}
    {% endwith %}
  {% endif %}
  {% if in_store_credit_transaction %}
      <div class="alert alert-secondary alert-dismissible mb-5 p-3 row text-center">
          <h3>
              Thank you <i>{{in_store_credit_transaction.client.name() }}</i>!
          </h3>
          <h4>{{in_store_credit_transaction.amount | format_currency }} have been added to your account</h4>
          
          <div class="p-3">
              <a class="btn btn-primary thank-you-btn" href="/deposit/receipt/{{in_store_credit_transaction.id}}">
                  <i class="fas fa-receipt"></i> Print receipt
              </a>
              <button class="btn btn-secondary thank-you-btn" onclick="show_email_modal()">
                  <i class="fas fa-at"></i> Email Receipt
              </button>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% with workorder = in_store_credit_transaction %}
          {% include "email-modal.html" %}
      {% endwith %}
  {% endif %}

  <div class="row">
    <div class="col-sm-5">
      {% include "new-order.html" %}
    </div>
    <div class="col">
      {% if today_workorders %}
        <h2><i class="fa fa-calendar-day"></i> Today</h2>

        <div class="list-group mb-5">
          {% for workorder in today_workorders %}
                {{ workorder_view(workorder, True) }}
          {% endfor %}
        </div>
      {% endif %}

        <h2><i class="fa fa-calendar"></i> Calendar</h2>

        <div class="list-group">
          {% for date_group, workorders in open_workorders|groupby("group") %}
            <div class="{% if date_group == today %}today{% endif %}">
              <div class="calendar-date">
                {{ date_group | humandate("%d %b") }}
                {% if date_group is close_to_today %}
                  <small class="text-muted">{{ date_group | humandate("%A") }}</small>
                {% endif %}
              </div>
              {% for workorder in workorders %}
                {{ workorder_view(workorder, True) }}
              {% endfor %}
            </div>
          {% else %}
            <div class="list-group-item list-group-item-action p-4">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">All done, go grab a coffee <i class="fa fa-coffee"></i></h4>
              </div>
            </div>
          {% endfor %}
        </div>

        <p style="text-align: right" class="p-2">
            <a href="/workorders/" class="link-secondary">See older jobs</a>
        </p>
    </div>
  </div>

  <div class="mb-3" style="opacity: 0.7">
      <h3>Recently paid</h3>
      {% for workorder in recent_workorders %}
          {{ workorder_view(workorder) }}
      {% endfor %}
  </div>

  <style>
      .calendar-date {
        margin-bottom: 0;
        background-color: #eaeaea;
        padding: 4px 8px;
      }
      .today .calendar-date {
          font-weight: bold;
      }
      .today {
          border: 1px solid blue;
      }
  </style>
{% endblock %}
