{% extends "base.html" %}

{% block title %} Inventory management {% endblock %}

{% block content %}
    <h2 class="mb-4">
        Inventory management
    </h2>
    <form action="/inventory/" method="post">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Average Cost</th>
            <th scope="col">Current Inventory Count</th>
            <th scope="col">Current Cost</th>
            <th scope="col">Quantity purchased</th>
            <th scope="col">More Details</th>
          </tr>
        </thead>
        <tbody>
        {% for item in inventory_items %}
          <tr>
            <td><input class="form-control" type="" name="id" value="{{item.id}}" style="display:none;">{{item.name}}</td>
            <td>{{item.avg_cost | format_currency}}</td>
            <td>{{item.current_inventory_count}}</td>
            <td>
            <div class="input-group">
              <input class="form-control" name="current-cost" type="number" value="{{item.current_cost}}" >
              <span class="input-group-text">$</span>
          </div>
            </td>
            <td><input class="form-control" name="quantity" type="number" min="0" value=""></td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#item-details-modal" onclick="loadInventoryHistory('{{item.id}}', '{{item.name}}')">
                More details
            </button></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="vendor">Vendor</span>
            <input name="vendor" type="text" class="form-control" placeholder="eg.: Cycle Babac" aria-label="Vendor" aria-describedby="vendor">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="reference-number">Reference number</span>
            <input name="reference-number" type="text" class="form-control" placeholder="eg.: Order #BB-7612" aria-label="Reference number" aria-describedby="reference-number">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Comments</span>
            <textarea name="comments" class="form-control" aria-label="Comments"></textarea>
        </div>
    </div>
    <div class="d-md-flex">
        <button type="submit" class="btn btn-primary mb-5 ">Confirm new purchase</button>
    </div>
    </form>
      <script>
          function loadInventoryHistory(id, itemName){
            $.get('/api/inventory-history/' + id, function(data) {
                $('#body-history').html('');

                $('#modal-item-name').text(itemName);

                  data.results.forEach(function(item) {
                      let detailsItemHistory = $('<tr><td class="event"></td><td class="delta-number"></td><td class="cost"></td><td class="date"></td></tr>');
                      $('.event', detailsItemHistory).text(item.event);
                      $('.delta-number', detailsItemHistory).text(item.delta_nb);
                      $('.cost', detailsItemHistory).text(format_currency(item.unit_cost));
                      $('.date', detailsItemHistory).text(item.time);

                      $('#body-history').append(detailsItemHistory);
                  });
            });
                
          }
      </script>
      <!-- Modal -->
        <div class="modal fade" id="item-details-modal" tabindex="-1" aria-labelledby="item-details-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="item-details-modal-label">Item Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 id="modal-item-name"></h4>
                    <table class="table table-striped table-bordered table-hover model-list">
                        <thead>
                          <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Delta Number</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody id="body-history"></tbody>
                      </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}
