{% extends "base.html" %}

{% block title %} All clients {% endblock %}

{% from 'macros.html' import pagination %}

{% block content %}
  <div class="p3 row justify-content-md-center">
    <div class="col-6">
      <h3 class="text-success mb-4 clearfix">
        {% if query %}
          Clients for "{{query}}"
        {% else %}
          All clients
        {% endif %}
        <a href="/client/new/" class="btn btn-primary float-right">
          <i class="fa fa-plus-circle"></i> New client
        </a>
      </h3>

      <form action="" method="get" class="mt-5 mb-5">
        <div class="input-group typeahead-pull-left-3">
          <input id="filter" name="query" class="form-control form-control-lg" placeholder="Search" value="{{query | forceescape}}">
          <button class="input-group-btn btn btn-secondary" type="submit">See all results</button>
        </div>
      </form>

      {% for client in clients %}
        <a href="/client/{{client.id}}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              {{client.first_name}} {{client.last_name}}
            </h5>
            <div class="float-right" style="opacity: 0.7">
              <small>
                {% if client.membership_paid_until %}
                  {% if client.membership_paid_until is future %}
                    <span class="badge bg-success">Member</span>
                  {% elif client.membership_paid_until is past %}
                    <span class="badge bg-warning">Expired member</span>
                  {% endif %}
                {% endif %}
              </small>
            </div>
          </div>
          <p class="mb-1 text-muted"><small>{{ client.phone }}</small></p>
        </a>
      {% endfor %}

      <br>

      {{ pagination('list_clients', page, total_pages, dict(query=query)) }}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#filter').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'clients',
            source: function(query, syncResults, asyncResults) {
                $.get('/api/search/clients/?query=' + encodeURIComponent(query), function(data) {
                    asyncResults(data);
                });
            },
            limit: 12,
            display: (e) => e.first_name + ' ' + e.last_name,
            templates: {
                suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.list_clients_typeahead,
            }
        });
    });
  </script>
{% endblock content %}
