{% extends "base.html" %}

{% from 'macros.html' import workorder_view, workorderstatus_badge, pagination %}

{% block title %} All {{ workorder_type_details['description_group'] or 'Workorders' }} {% endblock %}

{% block content %}
<div class="p3 row justify-content-center">
  <div class="col-12 col-xl-9">
    <h3 class="text-success mb-4">
      All <u>{{ workorder_type_details['description_group'] }}</u> Workorders

      {% if workorder_type %}
      <a href="/workorder/new/direct?type={{ workorder_type }}" class="btn btn-primary" style="float: right">
        <i class="fa fa-plus-circle"></i>
        New {{ workorder_type_details['description_one'] }}
      </a>
      {% else %}
      <a href="/" class="btn btn-primary" style="float: right">
        <i class="fa fa-plus-circle"></i>
        New workorder
      </a>
      {% endif %}
    </h3>


    <div class="row mb-4">
      <div id="id-search" class="col-md-5 col-lg-4 col-12">
        <div class=" mb-3">
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
            <input id="workorder_id" name="workorder_id" type="number" class="form-control col-5" value=""
              placeholder="Search by workorder ID" />
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-12 mb-3 client-search">
        <div class="input-group">
          <form id="client_form" class="w-100">
            <div class="input-group typeahead-pull-left-3">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input id="filter" name="query" class="form-control" placeholder="Search by client"
                value="{{ query | forceescape }}">
              <button class="input-group-btn btn btn-secondary" type="submit">See all results</button>
            </div>
          </form>
        </div>
      </div>

      <div class="client-search ">
        <div class="row">
          <div class="col-6">
            <div id="status" class="input-group">
              <span class="input-group-text"><span
                  class="workorderstatus-badge badge bg-primary">Status</span></i></span>
              <div class="form-control cursor-pointer text-secondary">
                0 selected
              </div>
            </div>
          </div>

          <div class="col-6">
            <div id="reportrange" class="form-control cursor-pointer">
              <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
      
      <div id="selected_statuses" class="col-12 mt-1">
        <div class="text-secondary ms-2 d-none">
          <small>
            <em>
              Click to remove
              <i class="fas fa-level-down-alt" style="font-size:x-small;"></i>
            </em>
          </small>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="accordion" id="accordionOptions">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Advanced Options
              </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
              data-bs-parent="#accordionOptions">

              <div class="accordion-body" style="font-size:large">
                <h3>Include</h3>
                <div class="row">

                  <div class="col-9 col-lg-10 mb-2">
                    {% for option in modified_options %}
                    <div>
                      <label class="cursor-pointer">
                        <input name="option" type="checkbox" value="{{ option }}" {% if modified_options[option] %}
                          checked {% endif %} />
                        <span class="user-select-none">{{option.capitalize()}}</span>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col d-flex">
                    <button id="apply-advanced" class="btn btn-success w-100 mt-auto">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>






    {% for workorder in workorders %}
    {{ workorder_view(workorder) }}
    {% endfor %}

    <br>

    {{ pagination('list_workorders', page, total_pages, page_query) }}

    <!-- Modal for workorder statuses -->
    <div class="modal fade" id="select-status-modal" tabindex="-1" aria-labelledby="select-status-modal-label"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="select-status-modal-label">Workorder Statuses</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 mb-3">
                <button id="select-all-statuses" class="btn w-100 btn-outline-primary" data-selected="false">Select
                  All</button>
              </div>
              {% with len = ((statuses | length)/3) | round(0,'ceil') | int %}
              {% for i in range(0, len*3, len) %}

              <div class="col">
                <ol class="list-group list-group-flush status-list">
                  {% for i in range(i, [(statuses | length), len+i] | min ) %}
                  {% with status = statuses[i] %}

                  <li class="list-group-item status-select cursor-pointer {% if status.is_active %} active {% endif %}"
                    data-index="{{status.id}}">
                    {{ workorderstatus_badge(status) }}
                  </li>
                  {% endwith %}
                  {% endfor %}
                </ol>
              </div>
              {% endfor %}
              {% endwith %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Apply</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    let status_modal = new bootstrap.Modal(document.getElementById('select-status-modal'));

    $("#select-all-statuses").on('click', function () {
      let allSelected = isAllSelected()
      if (allSelected) {
        $("#select-all-statuses").text("Select All")
        $('.status-select').removeClass("active")
      } else {
        $("#select-all-statuses").text("Deselect All")
        $('.status-select').addClass("active")
      }
    });

    $('#status').on('click', function (e) {
      if (isAllSelected()) $("#select-all-statuses").text("Deselect All")
      status_modal.show();
    });

    $('.status-select').on('click', function (e) {
      let $this = $(this);
      if ($this.hasClass("active")) {
        $this.removeClass('active');
      } else {
        $this.addClass('active');
      }

      if (isAllSelected()) {
        $("#select-all-statuses").text("Deselect All")
      } else {
        $("#select-all-statuses").text("Select All")
      }
    });

    function isAllSelected() {
      let allSelected = true
      $('.status-select').each(function () {
        if (!$(this).hasClass("active")) {
          allSelected = false
        }
      })

      return allSelected
    }

    $("#id-search").on('click', function () {
      $("#id-search").removeClass("opacity-50")
      $(".client-search").addClass("opacity-50")
    })
    $(".client-search").on('click', function () {
      $(".client-search").removeClass("opacity-50")
      $("#id-search").addClass("opacity-50")
    })
  </script>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      let ranges = {
        // Hong kong style, +100 years
        'Last year': [moment().subtract(1, 'years'), moment()],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'All time': [moment().subtract(100, 'years'), moment().add(100, 'years')],
      };


      let start = moment("{{ date_start }}");
      let end = moment("{{ date_end }}");
      let selected_options = {{ modified_options | tojson
    }};

    let label = start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY');


    if (addAdvancedOptions() != "") {
      $("#accordionOptions .accordion-button").removeClass("collapsed");
      $("#collapseOne").addClass("show");
    }

    $('.status-list .active').each(function () {
      $("#selected_statuses div").removeClass('d-none')
      let color = $(this).children('.workorderstatus-badge').css('background-color')
      let text = $(this).children('.workorderstatus-badge').text()
      let index = $(this).data("index")
      let span =
        '<button class="btn p-1 delete-badge" data-index="' + index + '">' +
        '  <span class="workorderstatus-badge badge" style="background-color: ' + color + '">' + text + '</span>' +
        '</button>'
      $("#selected_statuses").append(span)
    })
    $("#status div").text($("#selected_statuses button").length + " selected")
    $("#selected_statuses button").on('click', function () {
      let index = $(this).data("index");
      $('.status-list .active').each(function () {
        if ($(this).data("index") == index) {
          $(this).removeClass('active');
          submit(start, end)
        }
      })
    })


    setLabel(start, end)
    function setLabel(start, end) {
      for (let predef_label in ranges) {
        if (start.diff(ranges[predef_label][0], 'days') == 0 &&
          end.diff(ranges[predef_label][1], 'days') == 0) {
          label = predef_label;
          break;
        }
      }
    }

    $('#reportrange span').text(label);

    function submit(start, end) {
      let query = $("#filter").val();
      window.location = '1?query=' + encodeURIComponent(query) + addDate(start, end) + addStasusIds() + addAdvancedOptions();
    }

    function addDate(start, end) {
      setLabel(start, end)
      let date = "";
      if (label != 'Last year') {
        date = '&date_start=' + encodeURIComponent(start.format('YYYY-MM-DD')) + '&date_end=' + encodeURIComponent(end.format('YYYY-MM-DD'));
      }
      return date;
    }

    function addStasusIds() {
      let ids = "";
      $('.status-list .active').each(function () {
        ids += "&status=" + encodeURIComponent($(this).data("index"))
      })
      return ids;
    }

    function addAdvancedOptions() {
      let default_options = {{ advanced_options | tojson
    }};

    let keys = Object.keys(default_options);
    let advanced = "";
    keys.forEach(key => {
      if (default_options[key] != selected_options[key]) {
        advanced += "&advanced=" + encodeURIComponent(key);
      }
    });
    return advanced;
      }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: ranges
    }, submit);

    $('#select-status-modal').on('hidden.bs.modal', function (e) {
      submit(start, end)
    });

    $('#client_form').submit(function (e) {
      e.preventDefault()
      submit(start, end)
    })

    $("#apply-advanced").on('click', function () {
      submit(start, end)
    })

    $("#collapseOne input").on('change', function () {
      let value = $(this).val()

      selected_options[value] = !selected_options[value]
    });

    //Typeahead client
    $('#filter').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      name: 'clients',
      source: function (query, syncResults, asyncResults) {
        $.get('/api/search/clients/?query=' + encodeURIComponent(query), function (data) {
          asyncResults(data);

          // FIXME : Find a way to avoid this, by having a parametrized template instead
          $(".client-search .twitter-typeahead a").on('click', function (e) {
            e.preventDefault()
            setTimeout(() => { submit(start, end) }, 10
            )
          })

        });
      },
      limit: 10,
      display: (e) => e.first_name + " " + e.last_name,
      templates: {
        suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.list_clients_typeahead,
      }
    });

    //Typeahead workorder
    $('#workorder_id').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      name: 'workorders',
      source: function (query, syncResults, asyncResults) {
        $.get('/api/search/workorder/?query=' + encodeURIComponent(query), function (data) {
          asyncResults(data);

        });
      },
      limit: 10,
      display: (e) => e.id ,
      templates: {
        suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.list_workorders_typeahead,
      }
    });

    });
  </script>
  <style>
    .cursor-pointer {
      cursor: pointer;
    }

    .delete-badge:hover {
      background-color: pink;
    }


    .list-group-item.active {
      background-color: #DDD;
      border-color: #CCC;
    }
  </style>
</div>
{% endblock content %}
