{% macro workorderstatus_badge(status) %}
    <span class="workorderstatus-badge badge" style="background-color: {{ status.color }};">{{ status.name }}</span>
{% endmacro %}

{% macro workordertype_badge(workorder) %}
    {% if workorder.type %}
        {% with type_details = config.EXTRA_WORKORDER_TYPES[workorder.type] %}
            <span class="badge bg-primary">
                {{ type_details.icon | safe }} {{ type_details.description_one }}
            </span>
        {% endwith %}
    {% endif %}
{% endmacro %}

{% macro workorder_view(workorder, show_only_time) %}
    <a href="/workorder/{{workorder.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            {% if show_only_time %}
                <div class="col-9">
            {% else %}
                <div class="col-8">
            {% endif %}
                <h5 class="mb-1">
                    <small class="text-muted" style="margin-right: 15px">
                        {{ workorderstatus_badge(workorder.status) }}
                        {{ workordertype_badge(workorder) }}
                    </small>
                    {{ workorder.client.name() if workorder.client else ('<i>Direct sale</i>'|safe) }}
                    <span class="m-3 text-muted">{{workorder.total() | format_currency }}</span>
                </h5>
            </div>
            {% if show_only_time %}
                <div class="col-3 text-right">
                    {{ workorder.calendar_date | humandate("%H:%M") }}
                </div>
            {% else %}
                <div class="col-4 text-right">
                    {{ workorder.calendar_date | humandate("%d %b %Y %H:%M") }}
                </div>
            {% endif %}
        </div>
        <div class="row mb-1">
            <small class="text-muted">
                {{(workorder.bike_description + ' ' + workorder.invoice_notes)|truncate(100)|trim}}
            </small>
        </div>
    </a>
{% endmacro %}


{% macro denomination_counter(cash_denominations, cash_name) %}
<table class="table table-sm">
    <thead>
      <tr>
        <th>Denomination</th>
        <th class="w-50">nb</th>
      </tr>
    </thead>
    <tbody>
      {% for denomination_name, denomination_value in cash_denominations %}
      <tr>
        <td>{{denomination_name}}</td>
        <td>
          <input type="number" step="1" class="form-control h-25 denomination" min="0" data-denomination="{{denomination_value}}">
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td><b> Extra:</b> </td>
        <td><input type="number" step="0.01" class="form-control input-sm extra" min="0"></td>
      </tr>
      <tr>
        <td>
          <h4>Total:</h4>
        </td>
        <td>
            <div class="input-group">
              <input type="number" class="form-control input-sm total-amount" readonly style="font-weight:bold;" name="{{cash_name}}" step="0.01" value="0">
              <label class="input-group-text font-weight-bold">
                <b>$</b>
              </label>
            </div>
        </td>
      </tr>
    </tbody>
</table>
{% endmacro %}


{% macro pagination(target_page, page, total_pages, page_query) %}
<div class="text-center">
    <nav>
      <ul class="pagination">
        {% if page - 1 >= 1 %}
        <li class="page-item"><a class="page-link"
            href="{{ url_for(target_page,  page=page - 1, **page_query) }}">Previous</a>
        </li>
        {% endif %}

        {% for delta in range(3, 0, -1) %}
        {% if page - delta >= 1 %}
        <li class="page-item"><a class="page-link"
            href="{{ url_for(target_page, page=page - delta, **page_query) }}">{{page
            - delta}}</a></li>
        {% endif %}
        {% endfor %}

        <li class="page-item active"><span class="page-link" href="#">{{page}}</span></li>

        {% for delta in range(1, 4) %}
        {% if page + delta <= total_pages %} <li class="page-item"><a class="page-link"
            href="{{ url_for(target_page, page=page + delta, **page_query) }}">{{page
            + delta}}</a></li>
          {% endif %}
          {% endfor %}

          {% if page + 1 <= total_pages %} <li class="page-item"><a class="page-link"
              href="{{ url_for(target_page, page=page + 1, **page_query)}}">Next</a>
            </li>
            {% endif %}
      </ul>
    </nav>
  </div>
{% endmacro %}