<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MiniPOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if current_user.is_authenticated and 'light_role' in session %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fa fa-clipboard-list"></i> Workorders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients/"><i class="fa fa-user"></i> Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workorders/"><i class="fa fa-history"></i> Sales History</a>
                </li>
                {% with use_types_submenu = config['EXTRA_WORKORDER_TYPES']|length > 2 %}
                    {% if use_types_submenu %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-folder"></i> Special workorders
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% endif %}
                    {% for type, type_config in config['EXTRA_WORKORDER_TYPES'].items() %}
                        <li
                            {% if not use_types_submenu -%}
                                class="nav-item"
                            {%- endif -%}
                        >
                            <a
                                {% if use_types_submenu %}
                                    class="dropdown-item"
                                {% else %}
                                    class="nav-link"
                                {% endif %}
                                href="/workorders/type/{{type}}">
                                {{ type_config.icon | safe }} {{ type_config.description_group }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if use_types_submenu %}
                            </ul>
                        </li>
                    {% endif %}
                {% endwith %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-more" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-more">
                        <li><a class="dropdown-item" href="/cash-register/"><i class="fa fa-cash-register"></i> Cash register</a></li>
                        <li><a class="dropdown-item" href="/reports/"><i class="fa fa-chart-bar"></i> Reports</a></li>
                        <li><a class="dropdown-item" href="/inventory/"><i class="fa fa-boxes"></i> Inventory</a></li>
                        <li><a class="dropdown-item" href="/admin/"><i class="fa fa-cog"></i> Manage</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li id="nav-set-fullscreen" class="nav-item d-none">
                    <a class="nav-link" href="#" onclick="set_fullscreen()">
                        <i class="fa fa-expand-alt"></i>
                    </a>
                </li>
                <li id="nav-hide-fullscreen" class="nav-item d-none">
                    <a class="nav-link" href="#" onclick="hide_fullscreen()">
                        <i class="fa fa-compress-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{% if current_user.is_authenticated %}
<script>
    function set_fullscreen() {
        window.location.href = '/iframe?path=' + window.location.pathname;
    }

    function hide_fullscreen() {
        window.parent.postMessage('stop');
    }

    document.addEventListener('DOMContentLoaded', function() {
        if(in_iframe()) {
            $('#nav-hide-fullscreen').removeClass('d-none');
        } else {
            $('#nav-set-fullscreen').removeClass('d-none');
        }
    });
</script>
{% endif %}
