<h2><i class="fa fa-plus-circle"></i> New workorder</h2>

<div class="mt-3">
    <div class="btn-group" style="width: 100%">
        <a href="/client/new/" class="btn home-btn btn-primary" style="width: 50%">
            <i class="fa fa-user-plus"></i> New client
        </a><a href="/workorder/new/direct" class="btn home-btn btn-secondary" style="width: 50%">
            <i class="fa fa-dollar-sign"></i> Direct sale
        </a>
    </div>

    <br><br>

    <label for="client" class="btn home-btn btn-success" onclick="highlight_client()" style="width: 100%">
        <i class="fa fa-user"></i> Already Client
    </label>
    <br><br>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-user"></i>&nbsp;Name</span>
        <input id="client" type="text" class="form-control form-control-lg">
    </div>
</div>

{% if config.EXTRA_WORKORDER_TYPES %}
    <div class="mt-3 mb-5">
        <h3>New special workorder...</h3>

        {% for workorder_type, workorder_type_details in config.EXTRA_WORKORDER_TYPES.items() %}
            <div class="m-3">
            <a href="/workorder/new/direct?type={{ workorder_type }}" class="btn btn-outline-success">
                {{ workorder_type_details.icon | safe }}
                New {{ workorder_type_details['description_one'] }}
            </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

<script>
    function highlight_client() {
        $('#client').css({backgroundColor: '#FFEF9A'});

        setTimeout(() => $('#client').css({backgroundColor: 'white'}), 1500);
    }

    document.addEventListener('DOMContentLoaded', function() {
        $('#client').typeahead({
            hint: true,
            highlight: true,
            minLength: 2
        }, {
            name: 'clients',
            source: function(query, syncResults, asyncResults) {
                $.get('/api/search/clients/?query=' + encodeURIComponent(query), function(data) {
                    asyncResults(data);
                });
            },
            limit: 11,
            display: (e) => e.first_name + ' ' + e.last_name,
            templates: {
                suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.new_order_typeahead,
                footer: '<div class="tt-suggestion"><a href="/client/new/">' +
                        '<i>New client</i><br>&nbsp;' +
                        '</a></div>',
                notFound: '<div class="tt-suggestion"><a href="/client/new/">' +
                          '<i>New client</i><br>&nbsp;' +
                          '</a></div>',
            }
        }).bind('typeahead:select', function(ev, suggestion) {
            window.location = '/workorder/new/' + suggestion.id;
        });
    });
</script>
