{#

NOTE : This template is for *printed* receipts only

If anything must be added here, don't forget to add it to
email-receipt.html as well!


#}
<!DOCTYPE html>
<html lang="en">

  <!-- This file was originally based on https://www.bootdey.com/snippets/view/simple-invoice-receipt-email-template -->
  <!-- (Mit license https://www.bootdey.com/license) -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome.all.min.css" rel="stylesheet">
    <link href="/static/css/receipt.css" rel="stylesheet">

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/fontawesome.all.min.js"></script>

    <title>Receipt #{{workorder.id}}</title>
  </head>
  <body>
      <div id="buttons" class="text-center">
          <a id="home" class="btn btn-lg btn-primary" href="/">
              <i class="fa fa-home"></i> Home
          </a>
          <button id="print" onclick="window.print();" class="btn btn-lg btn-success">
              <i class="fa fa-print"></i> Print
          </button>
          <a id="workorder" class="btn btn-lg btn-secondary" href="/workorder/{{workorder.id}}">
              <i class="fa fa-clipboard-list"></i> See workorder
          </a>
      </div>

      <div>
        <div class="text-center">
          <h2>{{config.COMPANY_NAME.upper()}}</h2>
          <h2>#{{workorder.id}}</h2>
          {% if workorder.paid %}
            <p>Date: {{workorder.paid_date.strftime('%Y-%m-%d %H:%M')}}</p>
          {% endif %}
        </div>
        <div>
            {% for item in workorder.items %}
                <div class="item">
                    <div class="d-flex">
                        <div class="w-100">
                            {{item.nb}} x {{item.name}}
                        </div>

                        <div class="flex-shrink-0" style="padding-left: 5px; text-align: right">
                            {% if item.nb == 1 or item.nb == -1 %}
                                {{item.price | format_currency}}
                            {% else %}
                                {{(item.price * item.nb) | format_currency}}
                                <br>
                                <small>({{item.price | format_currency}} each)</small>
                            {% endif %}
                        </div>
                    </div>
                    {% if item.details %}
                        <p class="details">{{item.details.strip()}}</p>
                    {% endif %}
                </div>
            {% endfor %}
          <p class="text-center item">
            {{ config.TAXES[0]['name'] }}
            {% if config.TAXES[0]['number'] %}
                ({{ config.TAXES[0]['number'] }})
            {% endif %} <span style="float : right;">{{workorder.taxes1() | format_currency}} </span></p>
          </p>
          <p class="text-center item">
            {{ config.TAXES[1]['name'] }}
            {% if config.TAXES[1]['number'] %}
                ({{ config.TAXES[1]['number'] }})
            {% endif %} <span style="float : right;">{{workorder.taxes2() | format_currency}} </span></p>
          </p>
          <p class="text-center">
            Taxes <span style="float : right;">{{workorder.taxes() | format_currency}}
          </p>
          <div class="total">
            <p class="text-center">
            Total <span style="float : right;">{{workorder.total() | format_currency}}
            </p>
          </div>
          <div class="text-center">
            <p class="invoice-notes">{{workorder.invoice_notes.strip()}}</p>

            {% if workorder.total_discounts() != 0 %}
              <p>Total discount applied : {{workorder.total_discounts() | format_currency}}</p>
            {% endif %}
            {% if workorder.paid %}
              {% for transaction in workorder.transactions %}
                <p>
                  {{transaction.amount|abs|format_currency}}

                  {% if transaction.payment_method == "credit account" %}
                    {% if transaction.amount < 0 %}
                      added to your in-store credit account
                    {% else %}
                      taken from your in-store credit account
                    {% endif %}
                  {% else %}
                    {{transaction.payment_method}}
                    {% if transaction.amount < 0 %}
                        refund given
                    {% else %}
                        payment received
                    {% endif %}
                  {% endif %}

                  on {{transaction.created | humandate('%Y-%m-%d %H:%M')}}
                </p>
              {% endfor %}
            {% endif %}
            <p>Thank you</p>
            <p class="address">{{config.COMPANY_ADDRESS.strip()}}</p>
          </div>
        </div>
      </div>
  </body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.print();
    });
</script>
