{% extends "base.html" %}

{% block title %} Workorder #{{ workorder.id }} {% endblock %}

{% block content %}
{% if workorder.archived %}
<div class="alert alert-danger">
  This is an <b>archived</b> workorder.
</div>
{% endif %}
<div class="row mb-5">
  <div class="col-12">
    <div class="row">

      <div class="mt-2 mb-3 alert alert-danger">
        <h2 id="workorder-title" class="mb-4">
          Refund for Workorder#{{ workorder.id }}
        </h2>

        <div id="client-editable-infos" class="mb-3 {% if workorder.paid %}readonly{% endif %}">
          <h3>
            {% if workorder.client %}
            For : <span>{{ workorder.client.name() }}</span> <small class="text-muted">{{ workorder.client.phone
              }}</small>
            <button id="change-client-btn"
              class="btn btn-outline-secondary btn-sm {% if workorder.paid %}readonly{% endif %}">
              <i class="fa fa-edit"></i> Change client
            </button>
            <a class="btn btn-outline-secondary btn-sm {% if workorder.paid %}readonly{% endif %}"
              href="/workorder/set_client/{{ workorder.id }}">
              <i class="fa fa-user-slash"></i> Direct sale (no client)
            </a>
            {% else %}
            Direct sale
            <button id="change-client-btn"
              class="btn btn-outline-secondary btn-sm {% if workorder.paid %}readonly{% endif %}">
              <i class="fa fa-user"></i> Set a client
            </button>
            {% endif %}
          </h3>

          <div id="select-new-client" class="input-group mb-3" style="display: none;">
            <span class="input-group-text"><i class="fa fa-user"></i>&nbsp;Set new client</span>
            <input id="change-client" type="text" class="form-control form-control-lg">
          </div>

        </div>
      </div>

    </div>

    <hr>

    <div class="row p-2 mb-5">
      <h3 id="items" class="clearfix">
        Items
        <button id="btn-goto-total" class="btn btn-success float-right m-2 d-xl-none hidden"
          onclick="scrollto('#payment-block')">
          <i class="fa fa-dollar-sign"></i> Total
        </button>
      </h3>
      <table id="table-items" class="table table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th style="width: 10%">Qty</th>
            <th style="width: 25%">Price
              <!-- Taxable -->
            </th>
            <th style="width: 0%; text-align: center">
                <label>
                    <input class="check-input mt-2" type="checkbox" id="refund-all" value="" aria-label="">
                    Select all
                </label>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <button id="submit" class="btn btn-primary mt-2">
      <i class="fas fa-check"></i> Create Refund Workorder
  </button>
</div>


<script>
  let order = {{ items | tojson }};

  function load_order(items) {
    items.forEach(item => load_row(item));
  }

  function load_row(item) {

    $('#delete').remove();

    // let rows = '<tr class="item-row">' +
    //   '  <td style="position: relative">' +
    //   '    <i style="position: absolute; left: 15px; top: 18px; opacity: 0.5" class="item-type fa"></i>' +
    //   '    <input name="name" type="text" class="form-control" style="padding-left: 35px" readonly />' +
    //   '    <a href="#none" class="refund d-none" style="position: absolute; right: 15px; top: 18px; opacity: 0.5">' +
    //   '      <i class="fa"></i>' +
    //   '    </a>' +
    //   '  </td>' +
    //   '  <td><input name="nb" type="number" class="form-control" step="0.01" readonly /></td>' +
    //   '  <td><div class="input-group">' +
    //   '    <input name="price" type="number" class="form-control" min="0" step="0.01" readonly />' +
    //   '    <a href="#none" class="input-group-text bg-primary text-white discount d-none">' +
    //   '        <i class="fa fa-tag"></i>' +
    //   '    </a>' +
    //   '    <label class="input-group-text"><small>+Tx</small></label></div>' +
    //   '  </td>' +
    //   '  <td >' +
    //   '    <label class="d-flex justify-content-center">' +
    //   '      <input class="pe-none mt-2 should-refund" type="checkbox" id="d" value="" aria-label="" > '+
    //   '    </label>' +
    //   '  </td>' +
    //   '</tr>';


      let row = '<tr class="item-row">' +
          '  <td style="position: relative">' +
          '    <i style="position: absolute; left: 15px; top: 18px; opacity: 0.5" class="item-type fa"></i>' +
          '    <div class="item-name" type="text" style="line-height: 2.2; padding-left: 35px; width: 100%"></div>' +
          '    <a href="#none" class="refund d-none" style="position: absolute; right: 15px; top: 18px; opacity: 0.5">' +
          '      <i class="fa"></i>' +
          '    </a>' +
          '    <span class="row-details text-dark"></span>' +
          '  </td>' +
          '  <td><input name="nb" type="number" class="form-control" step="0.01" readonly /></td>' +
          '  <td>' +
          '    <div style="padding: 6px 0;">' +
          '      <span class="item-price"></span>' +
          '      <span class="badge bg-secondary taxable-badge">' +
          '        <small>+Tx</small>' +
          '      </span>' +
          '    </div>' +
          '    <span class="orig-price-notice d-none text-dark">' +
          '         Regular: <span class="orig-price"></span>$' +
          '    </span>' +
          '  </td>' +
          '  <td >' +
          '    <label class="d-flex justify-content-center">' +
          '      <input class="pe-none mt-2 should-refund" type="checkbox" id="d" value="" aria-label="" > '+
          '    </label>' +
          '  </td>' +
          '</tr>';
          
    row = $(row);

    let icons = {
      'labor': 'fa-user-clock',
      'article': 'fa-cogs',
      'other': 'fa-circle',
    };

    $('.item-type', row).addClass(icons[item.type]);
    $('.item-name', row).text(item.name);
    $('input[name="nb"]', row).val(item.nb);
    let $price = $('.item-price', row);
    $price.text(round(item.price) + '$');
    $('.taxable-badge', row).css({opacity: item.taxable ? 1 : 0.2});
    $('.orig-price', row).text(item.orig_price);

    $('input[name="taxable"]', row).attr('checked', item.taxable);
    row.on("click", rowClick)

    function href_workorder(id) {
      return '<a href="/workorder/' + id + '">#' + id + '</a>';
    }

    if (item.refund_workorder_id) {
      $('.refund i', row).addClass('fa fa-undo');
      $('.refund i', row).css('color', 'green');
      $('.refund', row).attr('title', 'Refunds ' + href_workorder(item.refund_workorder_id));
      $('.refund', row).popover({ trigger: 'focus', html: true });
      $('.refund', row).removeClass('d-none');
    } else if (item.refunded_in_workorder_id) {
      $('.refund i', row).addClass('fa fa-redo');
      $('.refund i', row).css('color', 'red');
      $('input[name="name"]', row).css('text-decoration', 'line-through');
      $('.refund', row).attr('title', 'Refunded by ' + href_workorder(item.refunded_in_workorder_id));
      $('.refund', row).popover({ trigger: 'focus', html: true });
      $('.refund', row).removeClass('d-none');
      $(row).find(".should-refund").prop("disabled", true);
    }

    function show_discount() {
      $('.orig-price-notice', row).removeClass('d-none');
    }

    function hide_discount() {
      $('.orig-price-notice', row).addClass('d-none');
    }

    if (item.orig_price != item.price) {
      show_discount();
    }

    row.data('id', item.id);

    $price.on('change', function () {
      if (round(item.orig_price) != round($price.val())) {
        show_discount();
      } else {
        hide_discount();
      }
    });

    $('#table-items').append(row);

    // Animation pour donner le focus
    row.css('opacity', 0);
    row.animate({ opacity: 1 }, 1000);
  }

  function round(price) {
    return (Math.round(price * 100) / 100).toFixed(2);
  }

  function scrollto(query) {
    $('html,body').animate({ scrollTop: $(query).offset().top }, 100);
  }

  document.addEventListener('DOMContentLoaded', function () {
    load_order(order);
  });
</script>

<script>
  $('#refund-all').on('click', function () {
    var allSelected = $("#refund-all").prop('checked')
    $(".should-refund").each(function () {
        if (!$(this).prop("disabled")) {
          $(this).prop("checked", allSelected)
          if(allSelected){
            $(this).closest(".item-row").addClass("bg-info")
          }else {
            $(this).closest(".item-row").removeClass("bg-info")
          }
        }
      })
  });

  function rowClick(){
    $this = $(this)
    checkboxButton = $this.find(".should-refund")
    checkedRow = !checkboxButton.prop("checked")
    
    if(!checkboxButton.prop("disabled")){
      checkboxButton.prop("checked", checkedRow)
      validateSelectAll()

      if(checkedRow){
        $this.addClass("bg-info")
      }else{
        $this.removeClass("bg-info")
      }
    }
  }

  function validateSelectAll(){
    allSelected = true
    $(".should-refund").each(function(){
        if(!$(this).prop("disabled")){
            if(!$(this).prop("checked") && allSelected){
              return allSelected = false
            }
        }
      })
    $("#refund-all").prop("checked", allSelected)
  }

  $("#submit").on('click', function () {
    let refundedItems = []
      $(".item-row").each(function () {
        $this = $(this)
        if ($this.find(".should-refund").prop("checked")) {
          refundedItems.push($this.data("id"))
        }
      })
      
      data = {
        items: JSON.stringify({
          refunded_items_id: refundedItems,
          workorder_id: {{ workorder.id }},
        })
      }

    if (refundedItems.length == 0) {
      alert("Select at least one item")
    } else {
      $.post('/api/refund/', data, function (redirect_url) {
        if(redirect_url){
          window.location = redirect_url;
          $("#submit").off("click")
          $("#submit").prop("disabled", true);
        }
      });
    }
  });
</script>

<style>
  .refund {
    color: red;
  }

  .orig-price-notice {
          font-size: small;
          font-weight: bold;
  }

  #workorder-title {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
  }

  .debug {
    display: none;
  }

  .form-control[readonly] {
    border: none;
    background: none;
  }

  .form-control[readonly]::-webkit-outer-spin-button,
  .form-control[readonly]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }

  .form-control[readonly]::placeholder {
    color: transparent;
  }

  #client-editable-infos .readonly,
  #bike-editable-infos .readonly {
    display: none;
  }

  #bike-editable-infos .form-control[readonly] {
    border: 1px solid #CCC;
    color: #555;
  }

  .form-control[readonly][type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
</style>


{% endblock %}
