{% extends "base.html" %}

{% block title %} Reports -
  {% if date_start and date_end %}
    From {{ date_start }} to {{ date_end }}
  {% elif date_start %}
    Everything from {{ date_start }}
  {% elif date_end %}
    Everything until {{ date_end }}
  {% endif %}
{% endblock %}

{% block content %}

  <h1>Reports</h1>
  <div class="row mt-3 mb-3">
    <div class="col-sm-2" style="font-size: larger">
      <label>Time period : </label>
    </div>

    <div class="col-sm-4">
      <div id="reportrange"
           class="form-control">
           <i class="fa fa-calendar"></i>&nbsp;
           <span></span> <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h2>Sales summary</h2>

      <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function () {
              let ranges = {
                  // Hong kong style, +100 years
                  'Last year': [moment().subtract(1, 'years'), moment()],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                  'All time': [moment().subtract(100, 'years'), moment().add(100, 'years')],
              };

              let start = moment("{{ date_start }}");
              let end = moment("{{ date_end }}");

              let label = start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY');

              for (let predef_label in ranges) {
                  console.log(predef_label)
                  console.log(start.diff(ranges[predef_label][0], 'days'));
                  console.log(end.diff(ranges[predef_label][1], 'days'));

                  if (start.diff(ranges[predef_label][0], 'days') == 0 &&
                      end.diff(ranges[predef_label][1], 'days') == 0) {
                      label = predef_label;
                      break;
                  }
              }

              $('#reportrange span').text(label);

              function submit(start, end) {
                  window.location = '?date_start=' + start.format('YYYY-MM-DD') + '&date_end=' + end.format('YYYY-MM-DD');
              }

              $('#reportrange').daterangepicker({
                  startDate: start,
                  endDate: end,
                  ranges: ranges
              }, submit);
          });
      </script>

      <div>
        <p style="font-size: larger">
          <b>Profits</b> {{ profits | format_currency }}
          <small class="text-muted">Subtotal minus cost of articles</small>
        </p>
        <p class="mb-5">
            <b>Margin</b> {{profit_margin | format_percentage }}
            <small class="text-muted"></small>
        </p>
        <p>
          <b>Subtotal</b> {{ workorder_stats.subtotal | format_currency }}
          <small class="text-muted">All sales before taxes (including discounts)</small>
        </p>
        <p>
          <b>{{ config.TAXES[0]['name'] }} </b> {{ workorder_stats.taxes1 | format_currency }}
          <small class="text-muted">Current rate: {{ (config.TAXES[0]['rate'] * 100).normalize() }}%</small>
        </p>
        <p>
          <b>{{ config.TAXES[1]['name'] }} </b>{{ workorder_stats.taxes2 | format_currency }}
          <small class="text-muted">Current rate: {{ (config.TAXES[1]['rate'] * 100).normalize() }}%</small>
        </p>
        <p>
          <b>Total of taxes</b> {{ workorder_stats.taxes | format_currency }}
          <small class="text-muted">
              Combined rate: {{ ((config.TAXES[0]['rate'] + config.TAXES[1]['rate']) * 100).normalize() }}%
          </small>
        </p>
        <p class="mb-5">
          <b>Total</b> {{ workorder_stats.total | format_currency }}
          <small class="text-muted">Final amount paid by customers (including taxes)</small>
        </p>
        <p>
          <b>Discounts applied</b> {{ workorder_stats.total_discounts | format_currency }}
          <br>
          <small class="text-muted">A discount is automatically identified when an
              item is sold at a price <u>lower than</u> its regular selling price.
              Items sold for a higher price than usual (eg.: a donation from a generous
              customer) are not included here.</small>
        </p>
        <p>
            <b>Cost of articles</b> {{ workorder_stats.cost | format_currency }}
        </p>
      </div>

      <div class="mt-5">
        <h4>Number of sales per item <button class="btn btn-sm btn-secondary" onclick="alert('Not available yet')">Export CSV</button> </h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Sold</th>
            </tr>
            </thead>
            <tbody>
              {% for item in items_sold %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.total_sold}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
            $(function () {
                $(".table").tablesorter();
            });
        </script>

        <style>
            .tablesorter-headerUnSorted div::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: " \f0dc";
            }

            .tablesorter-headerAsc div::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: " \f0dd";
            }

            .tablesorter-headerDesc div::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: " \f0de";
            }
        </style>
      </div>
    </div>

    <div class="col-lg-4 bg-light p-2">
      <h2>New Clients</h2>
      {% if show_postal_codes %}
      <p class="text-muted">New registrations during the selected time period</p>

      <canvas id="postal-codes-piechart" width="400" height="300"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('postal-codes-piechart').getContext('2d');

        const DATA_COUNT = {{ postal_codes_keys | length }};

        const colors = Array(DATA_COUNT).fill(0).map((val, i) => {
            return 'hsl(' + i / DATA_COUNT * 360 + ', 70%, 50%)';
        });

        const data = {
            labels: {{ postal_codes_keys | tojson }},
            datasets: [
                {
                    data: {{ postal_codes_vals | tojson }},
                    backgroundColor: colors,
                }
            ]
        };

        const config = {
            type: 'pie',
            data: data,
            plugins: [ChartDataLabels],
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Postal codes'
                    },
                    // https://stackoverflow.com/a/52044118/14639652
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            let dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            let percentage = (value*100 / sum).toFixed(2)+"%";
                            return percentage;
                        },
                        color: '#fff',
                    }
                }
            },
        };

        const myChart = new Chart(ctx, config);
    </script>
    {% else %}
      <p>No new client in the selected time period</p>
    {% endif %}
  </div>
{% endblock %}
