{% extends "base.html" %}


{% from 'macros.html' import workorderstatus_badge, workordertype_badge %}

{% block title %} Workorder #{{ workorder.id }} {% endblock %}

{% block content %}
  {% if workorder.archived %}
    <div class="alert alert-danger">
      This is an <b>archived</b> workorder.
    </div>
  {% endif %}

  {% if refund_items and not workorder.paid %}
      <div class="alert alert-warning alert-dismissible">
        This workorder contains<b> {{refund_items}} incomplete refund{% if refund_items > 1 %}s{% endif %}</b>. Select payment method to complete refund.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endif %}

  <div class="row mb-5 ">
    <div class="col-xl-9">
      <div class="row bg-light p-4">

        <div class="mt-2 mb-3">
          <h2 id="workorder-title" class="mb-4">
            Workorder #{{ workorder.id }}
              <a href="/workorder/delete/{{ workorder.id }}" id="delete" class="btn btn-danger d-none"><i class="fa fa-trash"></i></a>
              <button onclick="confirmDelete()" id="delete-confirmation" class="btn btn-danger d-none"><i class="fa fa-trash"></i></button>

            {% if workorder.paid %}
              <span class="badge bg-success">Paid</span>
            {% endif %}

            {{ workordertype_badge(workorder) }}
          </h2>
          <script>
            function confirmDelete() {
                let confirmAction = confirm("Are you sure to delete this workorder?\nYou will have to start over");
                if (confirmAction) {
                window.location.href = "/workorder/delete/{{ workorder.id }}";
              }
            }
          </script>
          <div id="client-editable-infos" class="mb-3 {% if workorder.paid %}readonly{% endif %}">
            <h3>
              {% if workorder.client %}
                  For:
                  <a id="client-editable-name" href="/client/{{workorder.client.id}}" style="text-decoration: none">{{ workorder.client.name() }}</a>
                  <small class="text-muted">{{ workorder.client.phone }}</small>
                  <button id="change-client-btn"
                          class="btn btn-outline-secondary btn-sm action-change-client {% if workorder.paid %}readonly{% endif %}">
                      <i class="fa fa-edit"></i> Change client
                  </button>
                  <a class="btn btn-outline-secondary btn-sm {% if workorder.paid %}readonly{% endif %}"
                     href="/workorder/set_client/{{ workorder.id }}">
                      <i class="fa fa-user-slash"></i> Direct sale (no client)
                  </a>
              {% else %}
                Direct sale
                <button id="change-client-btn"
                        class="btn btn-outline-secondary btn-sm action-change-client {% if workorder.paid %}readonly{% endif %}">
                    <i class="fa fa-user"></i> Set a client
                </button>
              {% endif %}
            </h3>

            {# Client action buttons #}
            {% if workorder.client %}
                {% if workorder.client.membership_paid_until and workorder.client.membership_paid_until is future %}
                    <span class="btn btn-sm btn-outline-success mb-3" onclick="alert('Membership type: ' + {{(workorder.client.membership_item.name or 'Unknown')|tojson|forceescape}})">
                        <i class="fa fa-check"></i> Member
                    </span>
                {% endif %}

                {% if workorder.client.internal_notes %}
                    <button class="btn btn-sm btn-secondary mb-3" onclick="alert({{workorder.client.internal_notes | tojson | forceescape }})">
                        <i class="fa fa-eye"></i> Notes about this client
                    </button>
                {% endif %}

                {% if workorder.client.is_incomplete %}
                    <a class="btn btn-sm btn-light-warning mb-3" href="/client/{{workorder.client.id}}">
                        <i class="fa fa-exclamation-triangle"></i> Add missing infos : {% for missing_info in workorder.client.missing_cols() %}
                                                                                        {% if missing_info != workorder.client.missing_cols()[-1] %}
                                                                                        {{Client.col_description(missing_info)}},
                                                                                        {% else %}
                                                                                        {{Client.col_description(missing_info)}}
                                                                                        {% endif %}
                                                                                        {% endfor %}
                    </a>
                {% endif %}

                {% if workorder.client.unique_bikes() | length >= 3 %}
                    <a class="btn btn-sm btn-light-warning mb-3" href="/client/{{workorder.client.id}}">
                        <i class="fa fa-exclamation-triangle"></i> Multiple bikes
                    </a>
                {% endif %}
            {% endif %}

            <div id="select-new-client" class="input-group mb-3 typeahead-pull-left-2" style="display: none;">
              <label for="change-client" class="input-group-text" onclick="highlight_item(document.getElementById('change-client').id)"><i class="fa fa-user"></i>&nbsp;Set new client</label>
              <input id="change-client" type="text" class="form-control form-control-lg">
              <a class="input-group-text btn-secondary" href="/client/new/{{workorder.id}}" style="text-decoration:none"><i class="fa fa-user-plus"></i>&nbsp;New client</a>
            </div>

            <script>
              function highlight_item(id_value) {
                $('#'+id_value).css({backgroundColor: '#FFEF9A'});

                setTimeout(() => $('#'+id_value).css({backgroundColor: 'white'}), 1500);
              }
            </script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {

                    $('.action-change-client').click(function() {
                        $('#change-client-btn').hide();
                        $('#select-new-client').slideDown(300);
                    });

                    let workorder_id = {{workorder.id}};

                    $('#change-client').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 2
                    }, {
                        name: 'clients',
                        source: function(query, syncResults, asyncResults) {
                            $.get('/api/search/clients/?query=' + encodeURIComponent(query), function(data) {
                                data.forEach(function(row) {
                                    row.workorder_id = workorder_id;
                                });
                                asyncResults(data);
                            });
                        },
                        limit: 11,
                        display: (e) => e.first_name + ' ' + e.last_name,
                        templates: {
                            suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.set_client_typeahead,
                            footer: '<div class="tt-suggestion">' +
                                    '<a href="/client/new/' + workorder_id + '">' +
                                    '<i>New client</i><br>&nbsp;' +
                                    '</a>' +
                                    '</div>',
                            notFound: '<div class="tt-suggestion">' +
                                      '<a href="/client/new/' + workorder_id + '">' +
                                      '<i>New client</i><br>&nbsp;' +
                                      '</a>' +
                                      '</div>',
                        }
                    });
                });
            </script>
          </div>
        </div>

        {% if not show_bike_infos %}
          <div>
            <button id="show-bike-infos" class="btn btn-secondary" onclick="show_bike_infos()">
              <i class="fa fa-bicycle"></i> Add bike infos & Notes
            </button>
          </div>
        {% endif %}

        {# -- No need for that --
        {% if workorder.paid %}
          <div class="mb-2">
            <button id="edit-paid-workorder" class="btn btn-sm btn-secondary">
              <i class="fa fa-edit"></i>
              Edit anyway
            </button>
          </div>
        {% endif %}
        #}

          <div id="bike-editable-infos" class="{% if not show_bike_infos %}d-none{% endif %} {% if workorder.paid %}readonly{% endif %}">

          {% if last_bike %}
            <div id="propose-use-last-bike" class="row mt-2 mb-2 {% if workorder.paid %}readonly{% endif %}">
              <div class="col-8">
                  <button class="btn btn-sm btn-outline-primary m-2"
                        onclick="use_last_bike({{ last_bike | tojson | forceescape }});">
                        Same bike as last time?
                </button>
                {{ last_bike.bike_description }} {% if last_bike.bike_serial_number %}#{{ last_bike.bike_serial_number }} {% endif %}
              </div>
            </div>
          {% endif %}

          <div class="row mb-4 {% if last_bike and not workorder.paid %}inputs-when-propose-last-bike{% endif %}">
            <div class="col-8">
              <div class="input-group bike-infos-field">
                <span class="input-group-text"><i class="fa fa-bicycle"></i>&nbsp;Bike description</span>
                <input id="bike_description" name="bike_description"
                       type="text" class="form-control" autocomplete="off"
                       placeholder="eg.: Red Nakamura"
                       {% if workorder.paid %}readonly{% endif %}
                       value="{{ workorder.bike_description }}">
              </div>
            </div>
            <div class="col-4">
              <div class="input-group bike-infos-field">
                <span class="input-group-text"><attr title="Serial number"><i class="fa fa-barcode"></i> Serial</attr></span>
                <input id="bike_serial_number" name="bike_serial_number"
                       type="text" class="form-control" autocomplete="off"
                       placeholder="eg.: 1234567"
                       {% if workorder.paid %}readonly{% endif %}
                       value="{{ workorder.bike_serial_number }}">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <div class="input-group bike-infos-field">
                <span class="input-group-text"><i class="fa fa-calendar"></i>&nbsp;Calendar</span>
                <input id="calendar_date" name="calendar_date"
                       type="text" class="form-control" autocomplete="off"
                       placeholder="eg.: Red Nakamura"
                       {% if workorder.paid %}readonly{% endif %}
                       value="{{ workorder.calendar_date }}" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group bike-infos-field">
                <span class="input-group-text"><i class="fa fa-folder-open"></i>&nbsp;Status</span>
                <input id="status_input" name="status" type="hidden">
                <div id="status" class="form-control cursor-pointer">
                    {{ workorderstatus_badge(workorder.status) }}
                </div>
              </div>
            </div>
          </div>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              $('#calendar_date').daterangepicker({
                  singleDatePicker: true,
                  showDropdowns: true,
                  autoUpdateInput: true,
                  timePicker: true,
                  timePickerIncrement: 15,
                  timePicker24Hour: true,
                  locale: {
                      format: 'YYYY-MM-DD HH:mm'
                  }
              });
            });
            const bikeDescriptionInputs = ['bike_description','bike_serial_number'];
            blurInputsOnEnterEvent(bikeDescriptionInputs);
            function blurInputsOnEnterEvent(inputs) {
              for (let i = 0; i < inputs.length; i++) {
                $('#'+inputs[i]).on('keyup', function (event) {
                  if (event.keyCode === 13) {
                    $('#'+inputs[i]).blur();
                  }
                });
              }
            }

          </script>

          <div class="row">
            <div class="col-4">
              <div class="bike-infos-field p-2">
                <label class="textarea-label" for="invoice_notes">
                  <i class="far fa-eye"></i>&nbsp;Invoice notes <br> <small>(<b>shown</b> on invoice)</small>
                </label>
                <textarea id="invoice_notes" name="invoice_notes" class="form-control"
                          {% if workorder.client %}
                            rows="5"
                          {% else %}
                            rows="2"
                          {% endif %}
                          {% if workorder.paid %}readonly{% endif %}
                          >{{ workorder.invoice_notes }}</textarea>
              </div>
            </div>
            <div class="col-8">
              <div class="bike-infos-field p-2">
                <label class="textarea-label" for="internal_notes">
                  <i class="far fa-clipboard"></i>&nbsp;Internal notes <br> <small>(just for you)</small>
                </label>
                <textarea id="internal_notes" name="internal_notes" class="form-control"
                          {% if workorder.client %}
                            rows="5"
                          {% else %}
                            rows="2"
                          {% endif %}
                          {% if workorder.paid %}readonly{% endif %}
                          >{{ workorder.internal_notes }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row p-2 mb-5">
        <h3 id="items" class="clearfix">
          Items
          <button id="btn-goto-total" class="btn btn-success float-right m-2 d-xl-none hidden" onclick="scrollto('#payment-block')">
            <i class="fa fa-dollar-sign"></i> Total
          </button>
        </h3>

        {% if not workorder.paid %}
          <div class="input-group mb-3 typeahead-pull-left-1">
            <label for="new-item" class="input-group-text" onclick="highlight_item(document.getElementById('new-item').id)"><i class="fa fa-plus-circle"></i>&nbsp;Add item</label>
            <input id="new-item" type="text" class="form-control form-control-lg" autocomplete="off" placeholder="eg. Mise au point">
            <button class="input-group-btn btn btn-secondary d-none see-all-items">
                See all results (<span class="nb"></span>)
            </button>
          </div>
          <script>
            let itemId = document.getElementById('new-item');
            itemId.addEventListener('keyup', function(e) {
              if(e.key == 'Enter'){
                $('.tt-suggestion').get(0).click();
              }
            });
          </script>

          <div id="quick-items">
            {% for item in quick_items %}
              <button class="btn btn-outline-secondary btn-lg" data-item="{{item | tojson | forceescape }}">
                <i class="fa fa-plus-circle"></i> {{item.name}}
              </button>
            {% endfor %}
          </div>
        {% endif %}

        {# This min-height ensures the typeahead has enough space to
        pop even when the workorder is empty #}
        <div style="min-height: 280px">
        <table id="table-items" class="table table-hover">
          <thead>
            <tr>
              <th>Description</th>
              <th style="width: 10%">Qty</th>
              <th style="width: 15%">Price<!-- Taxable --></th>
              <th style="width: 0"><!-- Actions --></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

          {% if not workorder.paid and propose_membership %}
            <div id="btn-add-membership" class="mt-5 text-center">
              <button class="btn btn-warning">
                {% if workorder.client.membership_paid_until is none %}
                  <i class="fa fa-plus-circle"></i> No membership yet
                  <br>Click to add membership to this workorder
                {% else %}
                  <i class="fa fa-plus-circle"></i> Membership ended on {{ workorder.client.membership_paid_until | humandate }}
                  <br>Click here to renew with workorder
                {% endif %}
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="payment-block" class="col-xl-3 bg-dark p-3 container">
      <div class="row">
        <div class="col-xl-12 col-md-6 col-sm-12 mb-3" id="payment-block-total">
          <h3 class="text-white">Total</h3>
          <div class="mb-2">
            <ul class="list-group">
              <li class="list-group-item"><b>Subtotal</b>: <span id="subtotal"></span> <span id="discount-row" class="badge bg-success d-none">Discount applied: <span id="discount"></span></span></li>
              <li class="list-group-item">
                  <b>Taxes</b>: <span id="taxes"></span>
                  <br>
                  <div style="font-size: smaller" class="text-muted">
                      <b>{{config.TAXES[0].name}}</b>: <span id="taxes1"></span>, <b>{{config.TAXES[1].name}}</b>: <span id="taxes2"></span>
                  </div>
              </li>
              <li id="pay-or-refund-total" style="font-size: larger" class="list-group-item list-group-item-primary">
                <b>Total</b>: <span class="total"></span>

                {% if not workorder.paid %}
                  <button class="btn btn-outline-secondary btn-sm" onclick="alert('TODO : Ajuster le prix en calculant un rabais ou un don selon ce que la personne peut/veut payer')">
                    <i class="fa fa-cog"></i>
                  </button>
                {% endif %}
              </li>
            </ul>
          </div>
          {% if not workorder.paid %}
          <a class="btn btn-primary" href="/workorder/receipt/{{workorder.id}}">
            <i class="fas fa-receipt"></i> Print workorder
          </a>
          {% endif %}
          {% if workorder.paid %}
          <div style="display: flex; justify-content: space-between;">
            <a class="btn btn-primary" href="/workorder/receipt/{{workorder.id}}">
              <i class="fas fa-receipt"></i> Receipt
            </a>
            <button class="btn btn-secondary" onclick="show_email_modal()">
              <i class="fas fa-at"></i> Email receipt
            </button>
          </div>
          {% include "email-modal.html" %}
        {% endif %}
        </div>
        <div class="text-white clearfix col mt-4 {%if not cash_register_open %} opacity-50 pe-none {% endif %}">
          {% if workorder.paid and workorder.transactions|length %}
            <h3 class="text-white">Payments</h3>
            <div class="mb-2">
              {% for transaction in workorder.transactions %}
                <span class="badge bg-{% if transaction.amount < 0 %}danger{% else %}success{% endif %}">
                    {% if transaction.amount < 0 %}
                        Refund :
                    {% endif %}
                    {{ transaction.amount | abs | format_currency }} ({{ transaction.payment_method }})
                    on {{ transaction.created | humandate }}
                </span>
                {% endfor %}
            </div>
          {% elif not workorder.paid %}
            {# Note : a workorder can be "paid" without any transaction if its value is 0$ #}
            <div class="text-center d-none" id="pay">
              <h4>Close order & <span class="dynamic-text-pay-or-refund">Pay</span></h4>
              {# This block is made more obvious when the client has an in-store credit #}
              {% if (workorder.client and workorder.client.in_store_credit != 0) %}
                  <div>
                      <button id="more-options" class="btn btn-lg btn-light-warning mb-3" type="submit">
                          <span class="dynamic-text-pay-or-refund"></span> with in-store credit<br>
                          <small>Available : {{ workorder.client.in_store_credit | format_currency}}</small>
                      </button>
                  </div>
              {% endif %}
              <div class="btn-group">
                <button id="pay-cash-btn" class="btn btn-primary btn-lg" type="submit">
                  <i class="fa fa-money-bill-alt"></i>
                  <br><span class="dynamic-text-pay-or-refund">Pay</span> Cash
                </button>
                <button id="pay-debit-btn" class="btn btn-success btn-lg" type="submit" data-payment-method="interac">
                  <i class="far fa-credit-card"></i>
                  <br><span class="dynamic-text-pay-or-refund">Pay</span> Debit
                </button>
                </form>
              </div>
              <br><br>
              <div>
                <button id="pay-visa-btn" class="btn btn-danger" type="submit" data-payment-method="visa">
                  <i class="fab fa-cc-visa"></i> <span class="dynamic-text-pay-or-refund">Pay</span> VISA
                </button>
                <p><small>Avoid if possible <i class="fa fa-heart"></i></small></p>
              </div>
              {# Usual "More options" block, when there is no store credit #}
              {% if not (workorder.client and workorder.client.in_store_credit != 0) %}
                  <div>
                      <button id="more-options" class="btn btn-sm btn-secondary" type="submit">
                          <i class="fas fa-plus"></i> More payment options
                      </button>
                  </div>
              {% endif %}
            </div>
            <div id="close-order" class="text-center d-none">
              <form action="/workorder/pay/{{workorder.id}}" method="post">
                <input type="hidden" name="payment_method" value="free">

                <button class="btn btn-success btn-lg" type="submit">
                  <i class="fa fa-check"></i> Close order
                </button>
              </form>
            </div>

          {% endif %}
          {% if workorder.paid and not refunded%}
              <a id="refund-button" href="/workorder/refund/{{workorder.id}}" class="btn
              {% if not workorder.transactions |length %} mt-3 w-100 {% endif %}
              btn-danger"><i class="fa fa-undo"></i> Refund</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to see more items -->
  <div class="modal fade" id="add-item-modal" tabindex="-1" aria-labelledby="add-item-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" style="width: 100%; clear: both">
                <span id="add-item-modal-label"></span>
                <span class="badge bg-warning loading float-right" style="font-size: small; float: right">
                    <b><i class="fa fa-hourglass"></i> Loading elements...</b>
                </span>
            </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
              <thead>
                <tr>
                  <th style="padding: 0; width: 0; border: 0"></th>
                  <th style="padding: 0; border: 0"></th>
                  <th style="padding: 0; width: 0; border: 0"></th>
                </tr>
              </thead>
            <tbody class="results" style="border-top: none">
            </tbody>
          </table>
        </div>
        <div class="modal-footer" style="border-top: none">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to edit an item -->
  <div class="modal fade" id="edit-item-modal" tabindex="-1" aria-labelledby="add-item-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="fa fa-edit"></i> Edit this item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i>Note: This is only for this workorder. The default item will not be changed.</i></p>
          <div class="row">
            <div class="col-sm-6">
              <label for="modal-edit-item-name">Name</label>
              <input id="modal-edit-item-name" name="name" class="form-control" />
              <label for="modal-edit-item-details">Details</label>
              <textarea id="modal-edit-item-details" name="details" rows="5" class="form-control"></textarea>
            </div>
            <div class="col-sm-6">
              <div>
                  <label for="modal-edit-item-price">Price</label>
                  <div class="input-group">
                      <input id="modal-edit-item-price" name="price" class="form-control"  type="number" step="0.01" />
                      <span class="input-group-text">
                          $
                      </span>
                  </div>
                <span class="badge bg-secondary">Regular price : <span class="orig-price"></span></span>
                <span class="badge bg-secondary">Cost value : <span class="cost-value"></span></span>
              </div>
              <div class="mt-4 mb-4">
                  <label for="modal-edit-item-nb">Quantity</label>
                  <input id="modal-edit-item-nb" name="nb" class="form-control" type="number" step="0.01" />
              </div>
              <label>
                <input type="checkbox" name="taxable" />
                Taxable
              </label>
            </div>
          </div>
          <div>
            <div id="modal-edit-item-note" name="note" class="mt-3">{#
              #}<b>Item note:</b> <span></span>{#
            #}</div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success save-btn" data-bs-dismiss="modal">
              <i class="fa fa-save"></i> Save
            </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for multiple transactions -->
  <div class="modal fade" id="multiple-transactions-modal" tabindex="-1" aria-labelledby="add-item-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"> More payment options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p class="pay-cash-modal-total" id="pay-total-multiple">Total : <span class="total"></span></p>
          </div>
          <div class="row">
            {% if workorder.client %}

              <div class="col-12 col-sm-6 p-3" style="border-right: 1px solid #ddd">
                <div id="in-store-refund" class="d-flex align-items-center justify-content-center h-100">
                <form action="/workorder/pay/{{workorder.id}}"  method="post">
                  <div class="row">
                    <div class="col-12 text-center">
                      <button id="refund-store-credit" name="refund_as_in_store_credit" value="1" type="submit" style="font-size:x-large; margin-top:-10%" class="btn p-3 btn-primary" >
                        Refund as in-store credit
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div id="client-deposit">
                <form  action="/make-deposit/{{workorder.id}}" method="post">
                  <h4>Deposit
                    <small class="text-muted">
                      Current credit: <span id="current-credit">{{workorder.client.in_store_credit | format_currency}}</span>
                    </small>
                  </h4>
                  <div class="row">
                    <div>
                      <div class="input-group">
                        <input name="amount" required class="form-control" value="" autocomplete="off" />
                        <span class="input-group-text">$</span>
                      </div>
                    </div>

                    <div class="mt-2">
                      <div>
                        Paid with :
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="deposit_type" id="cash_radio" value="cash" checked>
                        <label class="form-check-label" for="cash_radio">
                          <h5>Cash</h5>
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="deposit_type" id="debit_radio" value="interac">
                        <label class="form-check-label" for="debit_radio">
                          <h5>Debit</h5>
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="deposit_type" id="credit_radio" value="visa">
                        <label class="form-check-label" for="credit_radio">
                          <h5>Credit</h5>
                        </label>
                      </div>
                    </div>

                    <div class="mt-3">
                      <button class="btn btn-success" type="submit">
                        <i class="fa fa-check"></i> Complete deposit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              </div>
            {% endif %}

            <form action="/workorder/pay/{{workorder.id}}" method="post" id="submit-multiple-payments" class="col col-sm-6 p-3">
              <h4>Multiple Payment Types</h4>
              <div id="pay-multiple-widget" class="mt-3 mb-3">
                <div class="row">
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text input-group-fixed-width"><i class="fa fa-money-bill-alt"></i>&nbsp;Cash </span>
                      <input id="cash-multiple" type="hidden" name="cash" value="">
                      <input id="cash-received" type="number" step="0.01" min="0.00" class="form-control" value="" />
                      <span class="input-group-text">$</span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text input-group-fixed-width"><i class="far fa-credit-card"></i>&nbsp;Debit </span>
                      <input id="debit-multiple" name="interac" type="number" step="0.01" min="0.00" class="form-control non-cash-multiple" value="" />
                      <span class="input-group-text">$</span>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="input-group">
                      <span class="input-group-text input-group-fixed-width"><i class="fab fa-cc-visa"></i>&nbsp;Credit </span>
                      <input id="credit-multiple" name="visa" type="number" step="0.01" min="0.00" class="form-control non-cash-multiple" value="" />
                      <span class="input-group-text">$</span>
                    </div>
                  </div>
                  {% if workorder.client and workorder.client.in_store_credit %}
                    <div id="in-store-payment" class="mt-3">
                      <label>
                        <i>Debit from client account</i>
                      </label>
                      <div class="input-group">
                        <a id="max-credit" class="input-group-btn btn btn-success" > Max: <span></span></a>
                        <input id="client-debit" class="form-control non-cash-multiple"
                               type="number" name="credit account"
                               step="0.01" max="{{workorder.client.in_store_credit}}" value="" autocomplete="off" />
                        <span class="input-group-text">$</span>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="text-center">
                <div id="multiple-alert" class="alert alert-danger d-none" role="alert"></div>
                <button id="pay-multiple" type="submit" class="btn btn-success btn-lg" disabled data-bs-dismiss="modal">
                  <span class="dynamic-text-pay-or-refund"></span> and close
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const editItemInputs = ['modal-edit-item-name','modal-edit-item-price','modal-edit-item-nb'];
    blurInputsOnEnterEvent(editItemInputs);
  </script>

  <!-- Modal for workorder statuses -->
  <div class="modal fade" id="select-status-modal" tabindex="-1" aria-labelledby="select-status-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="select-status-modal-label">Workorder Statuses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <ol id="statusList" class="list-group list-group-flush status-list">
            {% for status in statuses %}
              <li class="list-group-item status-select cursor-pointer" data-index="{{status.id}}">
                {{ workorderstatus_badge(status) }}
              </li>
            {% endfor %}
          </ol>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for cash payments -->
  <div class="modal fade" id="pay-cash-modal" tabindex="-1" aria-labelledby="pay-cash-modal-label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="pay-cash-modal-label">Cash Payment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                    <p class="pay-cash-modal-total" id="pay-total">Total : <span class="total"></span></p>
                  </div>

                  <div id="pay-change-widget" class="mt-3 mb-5">
                      <div class="mt-4 row justify-content-center">
                          <div class="col-sm-6">
                              <label for="pay-cash-received">
                                  <b>Received</b>
                              </label>
                              <div class="input-group">
                                  <input id="pay-cash-received" class="form-control" type="number" step="0.01" autocomplete="off" value="" />
                                  <span class="input-group-text">$</span>
                              </div>
                          </div>
                      </div>
                      <div class="mt-4 row justify-content-center">
                          <div class="col-sm-6">
                              <label>
                                  <b>Change to give back</b>
                              </label>
                              <div class="input-group">
                                  <input id="pay-cash-give-back" class="form-control" disabled value="" autocomplete="off" />
                                  <span class="input-group-text">$</span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <form action="/workorder/pay/{{workorder.id}}" method="post" class="text-center" id="submit-payment-cash">
                      {% if workorder.client.is_incomplete %}
                          <div class="complete-your-profile">
                              <div class="alert alert-warning">
                                  <i>(Optional)</i> Complete client infos
                              </div>
                              {% for info in workorder.client.missing_cols() %}
                                  <div class="input-group justify-content-end">
                                      <span class="input-group-text mb-2 input-group-fixed-width" >{{Client.col_description(info)}}</span>
                                      <input name="{{info}}" type="text" class="form-control mr-5 mb-2" >
                                  </div>
                              {% endfor %}
                          </div>
                      {% endif %}
                      <br>
                      <input type="hidden" name="payment_method" value="cash">
                      <button id="pay-cash-submit" type="submit" class="btn btn-lg btn-primary">
                          <i class="fa fa-money-bill-alt"></i>
                          <span class="dynamic-text-pay-or-refund">Pay</span> cash
                      </button>
                      <div class="spinner-border text-primary d-none" role="status" id="loading-logo-cash">
                          <span class="sr-only">Loading...</span>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal for card payments -->
  <div class="modal fade" id="pay-card-modal" tabindex="-1" aria-labelledby="pay-card-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pay-card-modal-label">
            <span class="pay-card-modal-payment-type"></span> Payment
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <p>Enter this amount in your credit/debit payment terminal</p>
                <p class="pay-cash-modal-total">Total : <span class="total"></span></p>
            </div>

            <form action="/workorder/pay/{{workorder.id}}" method="post" class="text-center" id="submit-payment-card">
                {% if workorder.client.is_incomplete %}
                    <div class="complete-your-profile">
                        <div class="alert alert-warning">
                            <i>(Optional)</i> Complete client infos
                        </div>
                        {% for info in workorder.client.missing_cols() %}
                            <div class="input-group justify-content-end">
                                <span class="input-group-text mb-2 input-group-fixed-width" >{{Client.col_description(info)}}</span>
                                <input name="{{info}}" type="text" class="form-control mr-5 mb-2" >
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            <br>
            <input type="hidden" name="payment_method">
            <button type="submit" class="btn btn-lg btn-success" >
                <i class="show-visa fab fa-cc-visa"></i>
                <i class="show-interac fa fa-credit-card"></i>
                <span class="dynamic-text-pay-or-refund">Pay</span> <span class="pay-card-modal-payment-type"></span>
            </button>
            <div class="spinner-border text-primary d-none" role="status" id="loading-logo-card">
              <span class="sr-only">Loading...</span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script>

      $('#submit-payment-card').submit(function() {
        $("#loading-logo-card").removeClass("d-none");
        $(this).find("button[type='submit']").prop('disabled',true);
      });

      $('#submit-payment-cash').submit(function() {
        $("#loading-logo-cash").removeClass("d-none");
        $(this).find("button[type='submit']").prop('disabled',true);
      });

      function show_bike_infos() {
          $('#bike-editable-infos').removeClass('d-none').slideUp(0).slideDown(300);
          $('#show-bike-infos').slideUp(0);
      }

      document.addEventListener('DOMContentLoaded', function() {
          let bike_set = function() {
              $(".inputs-when-propose-last-bike").removeClass('inputs-when-propose-last-bike');
          };

          $('.inputs-when-propose-last-bike input').on('input', bike_set).on('change', bike_set);
      });

      function use_last_bike(last_bike) {
          // Set values + trigger .change() to save
          $('#bike_description').val(last_bike.bike_description).change();
          $('#bike_serial_number').val(last_bike.bike_serial_number).change();

          $('#propose-use-last-bike').slideUp(300);

          $(".inputs-when-propose-last-bike").removeClass('inputs-when-propose-last-bike');
      }

      {% if not workorder.paid %}
      document.addEventListener('DOMContentLoaded', function() {
          $('#pay-cash-btn').click(function() {
              let modal = new bootstrap.Modal(document.getElementById('pay-cash-modal'));

              let total = $('#pay-cash-give-back').data('total');

              if(total < 0) {
                  // Refunds : update UI
                  $('#pay-change-widget').hide();
              } else {
                  $('#pay-change-widget').show();
              }

              modal.show();
          });

          $('#pay-cash-received').on('input', function() {
              let received = $(this).val() * 100;
              let total = $('#pay-cash-give-back').data('total') * 100;
              let change = (received - total);

              $('#pay-cash-submit').prop('disabled', $(this).val() !== '' && change < 0);

              // No amount, don't bother with change
              if(received == '') {
                  $('#pay-cash-give-back').val('');
              } else if(change >= 0) {
                  $('#pay-cash-give-back').val(round(change / 100));
              } else {
                  $('#pay-cash-give-back').val('Not enough');
              }
          });



          $('#pay-multiple-widget input').on('input', function() {
            $("#pay-multiple").prop("disabled", true);
            $("#multiple-alert").removeClass("d-none");
            $("#multiple-alert").addClass("alert-danger");

            let card_amounts = 0
            let cash_amount = parseFloat($("#cash-received").val());
            cash_amount = (Number.isNaN(cash_amount))? 0 : cash_amount * 100;

            let store_credit_exceeded = false
            $(".non-cash-multiple").each(function(){
              let parsedVal = parseFloat($(this).val());
              if (!Number.isNaN(parsedVal)){
                {% if workorder.client %}
                if ($(this).prop("id") == "client-debit"){
                  store_credit_exceeded = (parsedVal > {{ workorder.client.in_store_credit }})
                }
                {% endif %}
                card_amounts += parsedVal * 100;
              }
            });

            let total = $("#pay-multiple").data('total') * 100;
            let absolute_total = Math.abs(total)

            let total_received = card_amounts + cash_amount;
            let change = (total_received - absolute_total);
            let cash_value = (cash_amount - change > 0)? (cash_amount - change)/100 : '';
            $("#cash-multiple").val(cash_value);



            if (total < 0){
              if (total_received == absolute_total){
                $("#multiple-alert").addClass("d-none");
                $("#pay-multiple").prop("disabled", false);
              }else{
                let required = " required"
                let amount_required = (absolute_total - total_received)/100;

                if (amount_required < 0){
                  required = " too much"
                }

                amount_required = format_currency(Math.abs(amount_required))
                $("#multiple-alert").text("Must give exact amount back. " + amount_required + required);
                $("#multiple-alert").removeClass("alert-warning");
                $("#multiple-alert").addClass("alert-danger");
              }
            }else{
              if (card_amounts > absolute_total){
                $("#multiple-alert").text("Debit and/or credit amounts excede total");
                $("#multiple-alert").removeClass("alert-warning");
                $("#multiple-alert").addClass("alert-danger");
              }else if (card_amounts <= absolute_total && total_received > absolute_total){
                $("#multiple-alert").text("Give back " + format_currency(change/100));
                $("#multiple-alert").removeClass("alert-danger");
                $("#multiple-alert").addClass("alert-warning");
                $("#pay-multiple").prop("disabled", false);
              }else if (store_credit_exceeded){
                $("#multiple-alert").text("In store credit exceeded");
                $("#multiple-alert").removeClass("alert-warning");
                $("#multiple-alert").addClass("alert-danger");
              }else if (total_received == absolute_total){
                $("#multiple-alert").addClass("d-none");
                $("#pay-multiple").prop("disabled", false);
              }else{
                $("#multiple-alert").text("Not enough. " + format_currency((absolute_total - total_received)/100) + " required");
              }
            }
          });


          $('#pay-visa-btn, #pay-debit-btn').click(function() {
              let modal = new bootstrap.Modal(document.getElementById('pay-card-modal'));
              let payment_method = $(this).data('payment-method');

              $('#pay-card-modal .show-visa, #pay-card-modal .show-interac').addClass('d-none');
              $('#pay-card-modal .show-' + payment_method).removeClass('d-none');

              $('#pay-card-modal input[name="payment_method"]').val(payment_method);

              let labels = {
                  'interac': 'Debit',
                  'visa': 'Visa',
              };

              $('#pay-card-modal .pay-card-modal-payment-type').text(labels[payment_method]);

              modal.show();
          });

          $('#more-options').click(function() {
              let modal = new bootstrap.Modal(document.getElementById('multiple-transactions-modal'));
              $("#multiple-alert").addClass("d-none")

              modal.show();
          });
      });
      {% endif %}

      let order = {{ items | tojson }};
      let membership_workorderitem_ids = []
      

      function load_order(items) {
          items.forEach(item => load_row(item));

          refresh_total();
      }

      function remove_item(btn) {
          let $tr = $(btn).parentsUntil('tbody').last();

          let workorderitem_id = $tr.data('id')
          $.get('/api/delete-workorderitem/' + workorderitem_id, function(data) {

              let index = membership_workorderitem_ids.indexOf(workorderitem_id);
              if (index != -1){
                membership_workorderitem_ids.splice(index, 1);
                if (membership_workorderitem_ids.length == 0){
                  $('#btn-add-membership').slideDown();
                }
              }
 
              $tr.remove();
              refresh_total();
          });
      }


      let edit_item_modal_element = document.getElementById('edit-item-modal');
      function start_edit_item(row, item) {
          let modal = new bootstrap.Modal(edit_item_modal_element);

          ['name', 'nb', 'price'].forEach(function(key) {
              $('#edit-item-modal input[name="' + key + '"]').val(item[key]);
          });

          $('#edit-item-modal textarea[name="details"]').val(item.details);

          if(item.note == null || item.note.length == 0){
              $('#modal-edit-item-note').addClass('d-none');
          } else {
              $('#modal-edit-item-note').removeClass('d-none');
              $('#modal-edit-item-note span').text(item.note);
          }

          $('#edit-item-modal .orig-price').text(format_currency(item.orig_price));
          $('#edit-item-modal .cost-value').text(format_currency(item.cost));

          $('#edit-item-modal .save-btn').off('click').on('click', function() {

              save_edit_item(row, item);

          });

          $('#edit-item-modal input[name="taxable"]').prop('checked', item.taxable);

          modal.show();
      }

      // "Edit item" Modal events
      edit_item_modal_element.addEventListener('shown.bs.modal', function (event) {
          document.getElementById('modal-edit-item-note').scrollTop = 0;
      });


      function save_edit_item(row, item) {
          ['name', 'nb', 'price'].forEach(function(key) {
              item[key] = $('#edit-item-modal input[name="' + key + '"]').val();
          });

          item.details = $('#edit-item-modal textarea[name="details"]').val();

          item.taxable = $('#edit-item-modal input[name="taxable"]').prop('checked');

          $.ajax('/api/replace/workorderitem/' + row.data('id'), {
              data: JSON.stringify(item),
              contentType : 'application/json',
              type: 'POST',
              success: function(updated_item) {
                  refresh_total();

                  let new_row = replace_row(row, updated_item);
                  let original_colour = $(row).css('background-color')

                  // Success
                  $(new_row).css({backgroundColor: '#FFEF9A'});
                  setTimeout(() => {
                      $(new_row).css({backgroundColor: original_colour});
                  }, 1500);
              }
          });
      }

      function build_html_row(item) {
          let row = '<tr>' +
          '  <td style="position: relative">' +
          '    <i style="position: absolute; left: 15px; top: 18px; opacity: 0.5" class="item-type fa"></i>' +
          '    <div type="text" style="line-height: 2.2; padding-left: 35px; width: 100%">' +
          '     <span class="item-name"></span><b class="is-refund d-none"></b>' +
          '     </div>' +
          '    <div class="refund d-none" style="position: absolute; right: 15px; top: 16px; opacity: 0.5">' +
          '      <i class="fa"></i>' +
          '    </div>' +
          '    <span class="row-details text-dark"></span>' +
          '  </td>' +
          '  <td><input name="nb" type="number" class="form-control" step="0.01" readonly /></td>' +
          '  <td>' +
          '    <div style="padding: 6px 0;">' +
          '      <span class="item-price"></span>' +
          '      <span class="badge bg-secondary taxable-badge">' +
          '        <small>+Tx</small>' +
          '      </span>' +
          '    </div>' +

          '         <small class="item-price-unity"></small>' +
          '    <span class="orig-price-notice d-none text-dark">' +
          '         Regular: <span class="orig-price"></span>' +
          '    </span>' +
          '  </td>' +
          '  <td>' +
          '    <div class="btn-group">' +
                      {% if not workorder.paid %}
          '      <button class="btn btn-danger" onclick="remove_item(this)">' +
          '        <i class="fa fa-trash-alt"></i>' +
          '      </button>' +
          '      <button class="btn btn-secondary start-edit-item">' +
          '        <i class="fa fa-edit"></i>' +
          '      </button>' +
                      {% endif %}
          '    </div>' +
          '  </td>' +
          '</tr>';

          row = $(row);

          let icons = {
              'labor': 'fa-user-clock',
              'article': 'fa-cogs',
              'other': 'fa-circle',
          };
          $('.item-type', row).addClass(icons[item.type]);
          $('.item-name', row).text(item.name);

          let details = item.details.split('\n').filter(function(x) { return x; });

          details.forEach(function(paragraph) {
              let p = $('<p></p>');
              p.text(paragraph);
              $('.row-details', row).append(p);
          });

          $('.orig-price', row).text(format_currency(item.orig_price));

          $('input[name="nb"]', row).val(item.nb);
          $('input[name="nb"]', row).attr("step", item.type == 'article' ? '1' : '0.01');
          {% if not workorder.paid %}
          $('input[name="nb"]', row).prop('readonly', false);
          {% endif %}

          let $price = $('.item-price', row);
          let $price_unity = $('.item-price-unity', row);

          function update_price(){
            if (item.nb != 1 && item.nb != -1) {
              let total_price = item.price * item.nb;

              $price.text(format_currency(total_price));
              $price_unity.text('('+format_currency(item.price)+' each)');
            }else{
              $price.text(format_currency(item.price));
              $price_unity.text('');
            }
          }
          update_price();


          $('.taxable-badge', row).css({opacity: item.taxable ? 1 : 0.2});

          function href_workorder(id) {
              return '<a href="/workorder/' + id + '">#' + id + '</a>';
          }

          if(item.refund_workorder_id) {
              // Don't propose to change the Qty of a refund, although
              // you can if you really want to (just click on [edit])
              $('input[name="nb"]', row).prop('readonly', true);

              $('.refund i', row).addClass('fa fa-undo');
              $('.refund i', row).css('color', 'darkgreen');
              $('.refund', row).removeClass('d-none');

              row.css('background-color', '#d6fcc9')
              $('.is-refund', row).removeClass('d-none')
              $('.is-refund', row).html(' (Refund for ' + href_workorder(item.refund_workorder_id) +')')
          } else if(item.refunded_in_workorder_id) {
              $('.refund i', row).addClass('fa fa-redo');
              $('.refund i', row).css('color', 'red');
              $('.item-name', row).css('text-decoration', 'line-through');
              $('.refund', row).removeClass('d-none');

              row.css('background-color', '#ffe5e5')
              $('.is-refund', row).removeClass('d-none')
              $('.is-refund', row).html(' (Refunded in ' + href_workorder(item.refunded_in_workorder_id) +')')
          }

          function show_discount() {
              $('.orig-price-notice', row).removeClass('d-none');
          }

          function hide_discount() {
              $('.orig-price-notice', row).addClass('d-none');
          }

          if(item.orig_price != item.price) {
              show_discount();
          }

          row.data('id', item.id);

          $price.on('change', function() {
              if(round(item.orig_price) != round($price.val())) {
                  show_discount();
              } else {
                  hide_discount();
              }
          });

          // The onchange event might not be triggered on some plateforms if the
          // user changes the page before clicking somewhere else in
          // the page. This auto-saves the input 500ms after the last modification
          let row_timer;

          $('input[name="nb"]', row).on('input', function() {

              let that = this;

              if(typeof(row_timer) !== 'undefined')
                  clearTimeout(row_timer);

              row_timer = setTimeout(function() {
                  update_row_value(that);
              }, 500);

              item.nb = $(this).val();
              update_price();
          });

          $('input[name="nb"]', row).on('change', function() {
              update_row_value(this);

              if(typeof(row_timer) !== 'undefined')
                  clearTimeout(row_timer);

              item.nb = $(this).val();
              update_price();
          });

          $('.start-edit-item', row).click(function() {
              start_edit_item(row, item);
          });

          return row;
      }

      function replace_row(row, item) {
          let new_row = build_html_row(item);

          $(row).replaceWith(new_row);

          return new_row;
      }

      function load_row(item) {
          let membership_item_ids = {{ membership_item_ids | tojson }}

          if(membership_item_ids.indexOf(item.inventory_item_id) != -1){
            $('#btn-add-membership').slideUp();
            membership_workorderitem_ids.push(item.id)
          }

          {% if not workorder.paid %}
          $('#btn-goto-total').removeClass('hidden');
          {% endif %}

          let row = build_html_row(item);

          $('#table-items').append(row);

          // Animation pour donner le focus
          row.css('opacity', 0);
          row.animate({opacity: 1}, 1000);

          return row;
      }

      function round(price) {
          return (Math.round(price * 100) / 100).toFixed(2);
      }

      function refresh_total() {
          $.get('/api/total/{{workorder.id}}', function(data) {

              // Show/hide discount
              if(data.discount != 0) {
                  $('#discount').text(format_currency(data.discount));
                  $('#discount-row').removeClass('d-none');
              } else {
                  $('#discount-row').addClass('d-none');
              }

              if(data.nb_items == 0 && !data.workorder_paid){
                $('#delete').removeClass('d-none');
                $('#delete-confirmation').addClass('d-none');
                $('#pay').addClass('d-none');
                $('#close-order').addClass('d-none');
                $('#payment-block-total').css({opacity: 0.5});
              }else if (data.nb_items > 0 && !data.workorder_paid) {
                $('#delete').addClass('d-none');
                $('#delete-confirmation').removeClass('d-none');
                $('#pay').removeClass('d-none');
                $('#payment-block-total').css({opacity: 1});
              }

              if(data.nb_items > 0 && data.total == 0 && !data.workorder_paid){
                $('#close-order').removeClass('d-none');
                $('#pay').addClass('d-none');
              }else if (data.nb_items > 0 && data.total != 0 && !data.workorder_paid) {
                $('#close-order').addClass('d-none');
                $('#pay').removeClass('d-none');
              }

              if(data.total < 0) {
                  $('.dynamic-text-pay-or-refund').text('Refund')
                  $('.pay-cash-modal-total').text('Refund: '+ format_currency(Math.abs(data.total)))
                  $("#in-store-refund").removeClass("d-none")
                  $("#client-deposit").addClass("d-none")
                  $("#in-store-payment").addClass("d-none")
                  $("#pay-or-refund-total").addClass("list-group-item-danger")
                  $("#pay-or-refund-total b").text("Refund")
                } else {
                  $("#pay-or-refund-total").removeClass("list-group-item-danger")
                  $("#pay-or-refund-total b").text("Total")
                  $('.dynamic-text-pay-or-refund').text('Pay');
                  $('.pay-cash-modal-total').text('Total: '+ format_currency(Math.abs(data.total)))
                  $("#in-store-refund").addClass("d-none")
                  $("#client-deposit").removeClass("d-none")
                  $("#in-store-payment").removeClass("d-none")
              }


              $('#subtotal').text(format_currency(data.subtotal));
              $('#taxes1').text(format_currency(data.taxes1));
              $('#taxes2').text(format_currency(data.taxes2));
              $('#taxes').text(format_currency(data.taxes));
              $('.total').text(format_currency(Math.abs(data.total)));
              $('#pay-cash-received').attr('placeholder', Math.abs(data.total));
              $('#pay-cash-give-back').data('total', data.total);
              $('#pay-cash-give-back').attr('placeholder', 0);
              $('#pay-multiple').data('total', data.total);

          });
      }

      function scrollto(query) {
          $('html,body').animate({scrollTop:$(query).offset().top}, 100);
      }

      function new_row(item) {
          $.get('/api/add-item/{{workorder.id}}/' + item.id, function(workorder_item) {

              let row = load_row(workorder_item);

              // Some items should always be edited when added (eg.:
              // donations do not have a fixed amount)
              if(item.always_edit) {
                  start_edit_item(row, workorder_item);
              }

              refresh_total();
          });
      }

      function update_row_value(el) {
          let row = $(el).parentsUntil('tbody').last();
          let $input = $(el);
          let name = $input.attr('name');
          let value = $input.val();

          if($input.attr('type') == 'checkbox')
              value = +$input.prop('checked');

          $.ajax('/api/edit/workorderitem/' + row.data('id'), {
              data: JSON.stringify({
                  column: name,
                  value: value,
              }),
              contentType : 'application/json',
              type: 'POST',
              success: function() {
                  refresh_total();

                  // Success
                  $input.addClass('is-valid');
                  setTimeout(() => {
                      $input.removeClass('is-valid')
                  }, 2500);
              }
          });
      }

      // https://twitter.github.io/typeahead.js/examples/
      document.addEventListener('DOMContentLoaded', function() {

          // XXX DUPLICATED IN VIEWS
          let TYPEAHEAD_LIMIT = 15;
          let TYPEAHEAD_MIN_LEN = 2;

          let count = 0;

          function update_see_all_items_btn() {
              if(count > TYPEAHEAD_LIMIT) {
                  $('.see-all-items').removeClass('d-none');
                  $('.see-all-items .nb').text(count);
              } else {
                  $('.see-all-items').addClass('d-none');
              }
          }

          $('#new-item').focus(function() {
              scrollto('#new-item');
          }).typeahead({
              hint: true,
              highlight: true,
              minLength: TYPEAHEAD_MIN_LEN
          }, {
              name: 'items',
              display: 'name',
              limit: TYPEAHEAD_LIMIT,
              source: function(query, syncResults, asyncResults) {
                  $.get('/api/search/inventory_items/?query=' + encodeURIComponent(query), function(data) {
                      count = data.total_count;

                      update_see_all_items_btn();

                      asyncResults(data.results);
                  });
              },
              display: (e) => e.name,
              templates: {
                  notFound: '<div>Not found... Try other keywords</div>',
                  suggestion: HANDLEBARS_PRECOMPILED_TEMPLATES.search_items_typeahead,
                  footer: '<div class="see-all-items text-center d-none tt-suggestion tt-selectable">' +
                          '<br>' +
                          '<i>See all <span class="nb"></span> results</i>' +
                          '<small class="text-muted"></small>' +
                          '</div>',
              }
          }).bind('typeahead:select', function(ev, suggestion) {
              new_row(suggestion);
              $('#new-item').typeahead('val', '');
              count = 0;

              update_see_all_items_btn();

          }).bind('typeahead:render', function() {

              // Build + show modal for all results
              $('.see-all-items').off('click').on('click', function() {
                  let query = $('#new-item').val();
                  let html_title = $('<span>Results for <i>"<span class="search-terms"></span>"</i></span>');
                  $('.search-terms', html_title).text(query);
                  let ajax_query = '/api/search/inventory_items/?full=1&query=' + encodeURIComponent(query);

                  show_modal(ajax_query, html_title);
              });

              update_see_all_items_btn();

          }).bind('input', function() {
              if ($('#new-item').val().length < TYPEAHEAD_MIN_LEN) {
                  count = 0;
                  update_see_all_items_btn();
              }
          });

          /**
           * Build a modal to show multiple results.
           *
           * @param ajax_query endpoint that must return results in the
           * same format as  /api/search/inventory_items/, but could be
           * used to list arbitrary sets of items (eg.: all from a category)
           *
           * @param html_title HTML content for add-item-modal-label,
             be careful to avoid XSS injections here!
           */
          function show_modal(ajax_query, html_title, onclick_callback) {

              let modal = new bootstrap.Modal(document.getElementById('add-item-modal'));

              // Reset modal
              $("#add-item-modal-label").html(html_title);
              $("#add-item-modal .loading").show();
              $('#add-item-modal .modal-body .results tr').remove()

              $.get(ajax_query, function(data) {
                  let content = "";

                  let line_template = HANDLEBARS_PRECOMPILED_TEMPLATES.items_modal_row;

                  let total_count = data.results.length;

                  // Only one choice : add the item now
                  if (total_count == 1) {
                      let item = data.results[0];
                      new_row(item);
                      return;
                  }

                  modal.show();

                  // Add each row
                  function process(i) {
                      let item = data.results[i];

                      let element = $(line_template(item));

                      $('.add button', element).on('click', function() {
                          new_row(item);
                          modal.hide();

                          if(onclick_callback) {
                              onclick_callback(item);
                          }
                      });

                      $('#add-item-modal .modal-body .results').append(element);
                  }

                  /* XXX: (somewhat) hackish fix below

                     Loading the DOM one element at the time like this
                     is slow, and can freeze the web page. By using a
                     recursive function + setTimeout of 0ms, the UI
                     has a chance to respond between chunks of created
                     rows */
                  function process_by_chunks(start) {
                      let next_chunk_size = Math.min(total_count - start, 7);

                      for(let i=0; i<next_chunk_size; i++) {
                          process(start  + i);
                      }

                      if(start + next_chunk_size == total_count) {
                          // Last row created, hide the Loading...
                          $("#add-item-modal .loading").hide();
                      } else {
                          setTimeout(() => process_by_chunks(start + next_chunk_size), 0);
                      }
                  }

                  process_by_chunks(0);
              });
          }

          $('#quick-items button').on('click', function() {
              let item = $(this).data('item');

              let query = item.category + ' | ' + item.subcategory;
              let html_title = $('<span>Results for <i>"<span class="search-terms"></span>"</i></span>');
              $('.search-terms', html_title).text(query);
              let ajax_query = '/api/search/inventory_items/category/?category=' +
                               encodeURIComponent(item.category) +
                               '&subcategory=' +
                               encodeURIComponent(item.subcategory);

              show_modal(ajax_query, html_title);
          });


          {% if not workorder.paid and propose_membership %}
          $('#btn-add-membership').click(function() {
              show_modal('/api/search/inventory_items/membership/', 'Select Membership', function() {
                  $('#btn-add-membership').slideUp();
              });
          });
          {% endif %}

          $("#max-credit").on('click', function(){
            let max_credit = Math.min({{workorder.client.in_store_credit or 0}}, $('#pay-multiple').data('total'))
            max_credit = Math.abs(max_credit)
            $("#client-debit").val(max_credit).trigger("input");
          });

          // Load order when everything is setup
          load_order(order);
      });
  </script>

  <style>
      #modal-edit-item-note {
          border: 1px dashed gray;
          color: gray;
          padding: 10px;
          white-space: pre-line;
          overflow: hidden;
          max-height: 120px;
          overflow-y: scroll;
          transition: height 200ms;
      }

      .row-details {
          font-size: small;
      }

      .row-details p {
          margin-bottom: 0;
      }

      .orig-price-notice {
          font-size: small;
          font-weight: bold;
      }

      .inputs-when-propose-last-bike {
          opacity: 0.5;
      }

      .refund {
          color: red;
      }
      #workorder-title {
          border-bottom: 1px solid #333;
          padding-bottom: 5px;
      }

      #quick-items .btn {
          margin-bottom: 5px;
      }

      .pay-cash-modal-total {
          border: 1px solid #ccc;
          font-size: xx-large;
          width: auto;
          display: inline-block;
          padding: 15px 25px;
          background-color: #fff7ca;
          margin-bottom: 35px;
      }

      .complete-your-profile {
          padding: 15px;
          border: 1px dashed #AAA;
      }

      .debug {
          display: none;
      }

      .form-control[readonly]:focus {
          box-shadow: none;
      }

      .form-control[readonly] {
          border: none;
          background: none;
      }

      .form-control[readonly]::-webkit-outer-spin-button,
      .form-control[readonly]::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      .form-control[readonly]::placeholder {
          color: transparent;
      }

      #client-editable-infos .readonly, #bike-editable-infos .readonly {
          display: none;
      }

      /* XXX : too simple, this is still editable when using TAB */
      #calendar_date[readonly] {
          pointer-events: none;
      }

      /* #bike-editable-infos .form-control[readonly] {
         border: 1px solid #CCC;
         color: #555;
         }
       */

      #bike-editable-infos.readonly .bike-infos-field {
          border: 1px solid black;
      }

      #bike-editable-infos.readonly .input-group-text,
      #bike-editable-infos.readonly .textarea-label {
          color: black;
          border: none;
          background: none;
          font-weight: bold;
      }

      #bike-editable-infos.readonly .input-group-text small,
      #bike-editable-infos.readonly .textarea-label small {
          font-weight: normal;
      }

      .form-control[readonly][type=number] {
          -moz-appearance:textfield; /* Firefox */
      }

      .cursor-pointer {
          cursor: pointer;
      }

      .status-select .badge {
          font-size: medium;
      }

      .input-group-fixed-width {
        width: 31%;
      }
  </style>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
        let status_modal = new bootstrap.Modal(document.getElementById('select-status-modal'));

          $('#edit-paid-workorder').click(function() {
              $(this).remove();

              $('#bike-editable-infos').removeClass('readonly');

              $('#bike-editable-infos [readonly]').each(function() {
                  $(this).prop('readonly', false);
                  $(this).removeAttr('readonly');
                  $(this).prop('disabled', false);
              });

              $('#bike-editable-infos .readonly, #client-editable-infos .readonly').each(function() {
                  $(this).removeClass('readonly');
              });

          });

          function save($input) {
              let name = $input.attr('name');
              let value = $input.val();

              $.ajax('/api/edit/workorder/{{workorder.id}}', {
                  data: JSON.stringify({
                      column: name,
                      value: value,
                  }),
                  contentType : 'application/json',
                  type: 'POST',
                  success: function() {

                      let input = $input;

                      // XXX : WorkorderStatus is a fake input
                      if(name == 'status')
                          input = $('#status');

                      input.addClass('is-valid');
                      setTimeout(() => {
                          input.removeClass('is-valid')
                      }, 5000);
                  }
              });
          }


          let timers = {};

          function clear_timer($input) {
              let name = $input.attr('name');

              if(typeof(timers[name]) !== 'undefined')
                  clearTimeout(timers[name]);
          }

          $('#bike-editable-infos select').on('change', function(){
              let $input = $(this);

              save($input);
          });

          $('#bike-editable-infos input, #bike-editable-infos textarea').on('input', function() {
              let $input = $(this);
              let name = this.name;

              clear_timer($input);

              timers[name] = setTimeout(function() {
                  save($input);
              }, 500);
          }).on('change', function() {
              let $input = $(this);
              clear_timer($input);

              save($input);
          });

          {% if not workorder.paid %}
          $('#status').on('click', function(e){
            status_modal.show();
          })
          {% endif %}

          $('.status-select').on('click', function(e){
            let $this = $(this);
            $this.addClass('active');

            let $input =  $("#status_input");
            $input.val($this.data('index'));

            $('#status .badge').html($this.children('.badge').html());
            let colour = $this.children('.badge').css('background-color')
            $('#status .badge').css('background-color', colour);

            save($input)
            status_modal.hide();

            setTimeout(() => {
              $this.removeClass('active');
            }, 175);
          });
      });
  </script>


{% endblock %}
